.form-group.error {
    border: solid 1px red;
}

.custom-checkbox.error .custom-control-label::before {
    border: solid 1px red;
}


.file-input-button::-webkit-file-upload-button {
    visibility: hidden;
    padding-left: 40px;
    padding-top: 10px;
}

.file-input-button::before {
    content: 'Выберите файл';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #48b9c1;
    border-radius: 3px;
    padding: 10px 15px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    font-weight: 400;
    font-size: 10pt;
    background-color: #48b9c1;
    color: white;
}

.file-input-button:hover::before {
    background-color: #39a2a9;
    border-color: #3699a0;
}

.file-input-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file-input-button:focus {
    border: none;
}

.file-input-label {
    margin-bottom: 1.4rem;
}

.tablebodytext {
    display: none;
}

.profile-action-block {
    display: block;
    position: relative;
    min-height: 15rem;
    padding-left: 41%;
    padding-top: 4.3rem;
    padding-right: 1rem;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center left;
}