html {
    font-size: 65%;
}

@media (max-width: 992px) {
    html {
        font-size: 1.2vw;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 1.8vw;
    }
}


body {
    font-size: 16px;
}

.container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .btns-group a.info:hover {
    border: solid 3px #ffffff;
}


.container-page.main-page .news-section .btn-more-news a:hover {
    border: solid 3px #ffffff;
}

.container-page.main-page .events-section .events-list .events-item .btns-group a.transparent:hover {
    border: solid 3px #ffffff;

}

.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.download:hover {
    border: solid 3px #ffffff;
}

.container-page.main-page .media-section .media-list .media-box .btn:hover {
    border: solid 3px #ffffff;
}


.container-page.main-page .events-section .events-list .events-item .btns-group a.white:hover {
    color: #ffffff;
    border: solid 3px #ffffff;
    background: #ffffff38;

}


.container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .btns-group a.buy-ticket:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #3699a0;
}


.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket a:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #3699a0;
}


.container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a:hover {
    border: solid 3px #ffffff;
}

.container-page.main-page .information-participants-section .extra-info .box-info .btns-group a:hover {
    border: solid 3px #ffffff;
}


.manager-box .btns-group a.white:hover {
    color: #ffffff;
    border: solid 3px #ffffff;
    background: #ffffff38;
}

.manager-box .btns-group a + a:hover {
    border: solid 3px #ffffff;
}

.container-page.main-page .welcome-section .header .box-wrapper .nav-wrapper .user-panel .btns-group a:hover {
    border: solid 1px #ffffff;
    background: #ffffff38;
}

.avatar .img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.avatar .img img {
    flex-shrink: 0;
    /* min-width: 100%;
     min-height: 100%;
     max-height: none;
     max-width: none;*/
    z-index: 5;
}

.container-page.main-page .welcome-section .header.sticky {
    background-color: rgba(0, 0, 0, 0.7);
}

.container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box {
    background-image: url(images/contact_bg.jpg);
}


.white-popup-block {
    background: #FFF;
    padding: 2.0rem 3.0rem;
    text-align: left;
    max-width: 65.0rem;
    margin: 4.0rem auto;
    position: relative;
}

.nav-wrapper.inner ul li a {
    color: #2a2a2a;
}

.nav-wrapper.inner ul li a:hover {
    color: #48b9c1;
}

.nav-wrapper.inner ul li.active {
    font-weight: 700;
    border-bottom: 0.2rem solid #48b9c1;
}

.nav-wrapper.inner ul li.active a {
    color: #48b9c1;
}

.nav-wrapper.inner .user-panel .btns-group a {
    color: #48b9c1 !important;
    border: solid 1px #48b9c1 !important;
}

.nav-wrapper.inner .user-panel .btns-group a:hover {
    color: #FFFFFF !important;
    border: solid 1px #48b9c1 !important;
    background: #48b9c1 !important;
}

.box-wrapper.inner .open-mobile-menu {
    background-image: url(images/menu-btn-azure.png);
}

.box-wrapper.inner .open-mobile-menu.close {
    background-image: url(images/menu-close-btn.png);
}

.container-page.main-page .news-section .news-list .news-item {

}


.fixed .container-page .section .header .custom-container .box-wrapper .logo img {
    filter: grayscale(1) brightness(1000%);
    -webkit-filter: grayscale(1) brightness(1000%);
}

.fixed .nav-wrapper.inner ul li a {
    color: #ffffff;
}

.fixed .nav-wrapper.inner ul li.active {
    border-bottom: 0.2rem solid #ffffff;
}

.fixed .nav-wrapper.inner .user-panel .btns-group a {
    color: #ffffff !important;
    border: solid 1px #ffffff !important;
}

.fixed .nav-wrapper.inner .user-panel .btns-group a:hover {
    color: #ffffff !important;
    border: solid 1px #48b9c1 !important;
    background: #48b9c1 !important;
}

.entry .entry-image.to-left {
    float: left;
    padding-right: 6.0rem;
}

.entry .entry-image {
    padding-top: .5rem;
    padding-bottom: 6.0rem;
}

.entry .entry-image img {
    display: block;
    box-shadow: 0 0.4rem 1.9rem 0 rgba(0, 0, 0, 0.3);
    max-width: 30rem;
}

.entry {
    color: #000;
}

.entry p {
    margin: 0 0 2.7rem;
    line-height: 1.45;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.entry a {
    color: #48b9c1;
}

.close-entry-nav {
    display: flex;
    align-items: stretch;
    margin: 0 -1.3rem;
    padding: 1.5rem 0;
}

.close-entry-nav .link {
    display: inline-block;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    background: #fff;
    padding: 3.2rem 4.2rem;
    margin: 0 1.3rem 1.5rem;
    box-shadow: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.1);
    color: #2a2a2a;
}

.close-entry-nav .link:nth-child(odd) .arrow {
    margin-right: 1.5rem;
}

.close-entry-nav .link .arrow {
    font-size: 3.0rem;
    padding: 0 0;
    opacity: .2;
}

.close-entry-nav .link .title {
    flex-grow: 1;
    font-size: 1.8rem;
}

.close-entry-nav .link:nth-child(even) .arrow {
    margin-left: 1.5rem;
}

.close-entry-nav .link:nth-child(odd) .arrow:before {
    border-left: 0.3rem solid #2a2a2a;
    border-bottom: 0.3rem solid #2a2a2a;
    transform: rotate(45deg);
}

.close-entry-nav .link .arrow:before {
    content: ' ';
    display: block;
    width: 3.4rem;
    height: 3.4rem;
}

.close-entry-nav .link:nth-child(even) .arrow:before {
    border-right: 0.3rem solid #2a2a2a;
    border-bottom: 0.3rem solid #2a2a2a;
    transform: rotate(-45deg);
}

.close-entry-nav .link .arrow:before {
    content: ' ';
    display: block;
    width: 3.4rem;
    height: 3.4rem;
}

.close-entry-nav .link:hover {
    box-shadow: 0 0.2rem 1.4rem 0 rgba(0, 0, 0, 0.2);
}

.close-entry-nav .link:hover .arrow:before {
    border-color: #48b9c1;
}

.close-entry-nav .link:hover .arrow {
    color: #48b9c1;
    opacity: 1;
}

.close-entry-nav div.link {
    box-shadow: none;
}

.close-entry-nav div.link:hover {
    box-shadow: none;
}


.sticky .nav-wrapper.inner ul li a {
    color: #FFFFFF;
}

.sticky .nav-wrapper.inner ul li a:hover {
    color: #48b9c1;
}

.sticky .nav-wrapper.inner ul li.active {
    font-weight: 700;
    border-bottom: 0.2rem solid #48b9c1;
}

.sticky .nav-wrapper.inner ul li.active a {
    color: #48b9c1;
}

.sticky .nav-wrapper.inner .user-panel .btns-group a {
    color: #48b9c1 !important;
    border: solid 1px #48b9c1 !important;
}

.sticky .nav-wrapper.inner .user-panel .btns-group a:hover {
    color: #FFFFFF !important;
    border: solid 1px #48b9c1 !important;
    background: #48b9c1 !important;
}

.container-page .section .header.sticky .custom-container .box-wrapper .logo img {
    filter: grayscale(1) brightness(1000%);
    -webkit-filter: grayscale(1) brightness(1000%);
}

.sticky .nav-wrapper.inner .user-panel .btns-group a {
    color: #FFFFFF !important;
    border: solid 1px #FFFFFF !important;
}

.sticky .nav-wrapper.inner .user-panel .btns-group a:hover {
    color: #48b9c1 !important;
    border: solid 1px #FFFFFF !important;
    background: #FFFFFF !important;
}

/*

.events-list .events-item .wrapper .desc{
    line-height: 16px;
}

.container-page.main-page .events-section .events-list .events-item ul li + li {
    margin-top: 7px;
}

.container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .subtitle {
    font-weight: 700;
    font-size: 50px;
    !*text-transform: uppercase;*!
    margin-top: -20px;
    line-height: 61px;
    margin-bottom: 55px;
    overflow: hidden;
    font-style: italic;
}
*/


/*
@media screen and (max-width: 1200px) {
    .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .subtitle{
        font-size: 45px;
        margin-top: -10px;
    }

}
@media screen and (max-width: 992px) {
    .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .subtitle {
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 25px;
        margin-top: -10px;
    }
}

@media (max-width: 780px){
    .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .subtitle{
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 15px;
        margin-top: -5px;
    }
}
*/


.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    background-color: #48b9c1;
    font-size: 16px;
    color: #FFFFFF;
}

.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket button:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #3699a0;
    cursor: pointer;
}

/*margin top for correct navigation*/
/*

@media screen and (min-width: 768px) {

    .container-page.main-page .information-participants-section {
        padding-top: 140px;
    }
    .container-page.main-page .news-section{
        padding-top: 140px;
    }
    .container-page.main-page .events-section{
        padding-top: 140px;
    }

    .container-page.main-page .exhibition-section{
        padding-top: 140px;
    }

    .container-page.main-page .media-section{
        padding-top: 140px;
    }
    .container-page.main-page .footer-section{
        padding-top: 140px;
    }
}

@media screen and (max-width: 768px) {

    .container-page.main-page .information-participants-section {
        padding-top: 70px;
    }
    .container-page.main-page .news-section{
        padding-top: 70px;
    }
    .container-page.main-page .events-section{
        padding-top: 70px;
    }

    .container-page.main-page .exhibition-section{
        padding-top: 70px;
    }

    .container-page.main-page .media-section{
        padding-top: 70px;
    }
    .container-page.main-page .footer-section{
        padding-top: 70px;
    }
}


@media screen and (max-height: 768px) {
    .manager-box {
        max-height: inherit;
        padding: 25px 20px 25px;
    }

}
*/


.file-input-button::-webkit-file-upload-button {
    visibility: hidden;
    padding-left: 40px;
    padding-top: 10px;
}

.file-input-button::before {
    content: 'Выберите файл';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #48b9c1;
    border-radius: 3px;
    padding: 10px 15px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    font-weight: 400;
    font-size: 10pt;
    background-color: #48b9c1;
    color: white;
}

.file-input-button:hover::before {
    background-color: #39a2a9;
    border-color: #3699a0;
}

.file-input-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file-input-button:focus {
    border: none;
}

.file-input-label {
    margin-bottom: 1.4rem;
}

/*
@media (max-width: 780px){
    .container-page.main-page .information-participants-section .price-list .price-item:last-child {
        flex: 1;
    }
}*/

/*
.container-page.main-page .information-participants-section .price-list .price-item .description ul {
    padding: 0 40px 0 40px;
}

.container-page.main-page .information-participants-section .price-list .price-item .description ul li {
    font-size: 16px;
}

@media screen and (max-height: 768px) {
    .container-page.main-page .welcome-section .welcome-content {
        padding-top: 90px;
    }
}
*/
.container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box {
    max-height: 700px;
}

/*
.container-page.main-page .welcome-section .welcome-content {
    padding-top: 50px;
}*/

.board-member-box .photo img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.container-page .header .box-wrapper .nav-wrapper nav {
    margin-right: 20px;
}

.container-page.main-page .media-section .media-list .media-box.totals .title {
    font-size: 45px;
    margin-bottom: 10px;
}

.container-page.main-page .media-section .media-list .media-box.totals .subtitle {
    margin-bottom: 20px;
}

.container-page.main-page .media-section .media-list .media-box.totals .btns-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0px;
}

.container-page.main-page .media-section .media-list .media-box.totals .btns-group a {
    border: solid 1px #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    max-width: 140px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
}

.container-page.main-page .media-section .media-list .media-box.totals .btns-group a.second {
    margin-left: 30px;
}

.container-page.main-page .media-section .media-list .media-box.totals .btns-group a:hover {
    border: solid 3px #ffffff;
}

@media (max-width: 568px) {
    .container-page.main-page .media-section .media-list .media-box.totals .title {
        font-size: 28px;
    }

    .container-page.main-page .media-section .media-list .media-box.totals .btns-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a {
        width: 170px !important;
        height: 45px;
        -ms-flex: 0 0 45px;
        flex: 0 0 45px;
    }

    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a.second {
        margin-left: 0px;
        margin-top: 10px;
    }

    .container-page.main-page .media-section .media-list .media-box.totals .subtitle {
        text-align: center;
    }


}

.container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group a {
    padding: 0 13px;
}

.container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group a + a {
    margin-left: 10px;
}

.partners-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 25px;

}

.partners-grid .item {
    flex-basis: 50%;
    padding: 0 10px;
    margin: 0 0 42px;
    display: flex;
    flex-direction: column;
}

.partners-grid .item .inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.partners-grid .item .heading {
    font-size: 25px;
    margin: 0 0 30px;
}

.partners-grid .item .heading.big {
    font-size: 30px;
    margin: 0 0 23px;
}

.partners-grid .item .image {
    background: #FFF;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners-grid .item .image .img {
    margin: 0 auto;
}

@media (max-width: 568px) {
    .partners-grid .item {
        flex-basis: 100%;
    }

    .partners-grid .item .heading {
        text-align: center;
    }

}

.popup-window {
    padding: 0 !important;
    font: inherit !important;
}

.cookie .notice {
    background: rgba(0,0,0,.7);
    padding:1.4rem 0 4.2rem;
    position: fixed;
    z-index:550;
    left:0;
    bottom:0;
    width:100%;
}
.cookie .inner {
    max-width:100.0rem;
    padding:0 2.0rem;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.cookie .text {
    display: inline-block;
    vertical-align: middle;
    padding:1.0rem 2.0rem 1.0rem 0;
    flex-grow:1;
    font-size:1.5rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    color: #ffffff;
}
.cookie .actions {
    display: inline-block;
    vertical-align: middle;
    padding:1.0rem 0;
    text-align: right;
}

.cookie .btn.btn-mini {
    background-color: #fff;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 250px;
    max-width: 250px;
    min-width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px;
}
.cookie .text a {
    font-weight: bold;
    text-decoration: underline;
}

.cookie.show{
    display: block;
}

.cookie.hide{
    display: none;
}
