body {
    font-family: 'Roboto regular', sans-serif;
}

.container-page.main-page .events-section {
    background-image: url('./images/events-bg.png');
}

.container-page.main-page .news-section {
    background-image: url('./images/news-bg.png');
}

.container-page.main-page .information-participants-section {
    background-image: url('./images/information-bg.png');
}

.container-page.main-page .exhibition-section {
    background-image: url('./images/exhibition-bg.png');
}

.container-page.main-page .exhibition-section {
    background-image: url('./images/exhibition-bg.png');
}

.container-page.main-page .media-section {
    background-image: url('./images/media-bg.png');
}

.container-page.main-page .footer-section.partners {
    background-image: url('./images/partners-bg.jpg');
}

.container-page.main-page .footer-section {
    background-image: url('./images/footer-bg.png');
}

.container-page.main-page .events-section .events-list .events-item.science-program {
    background-image: none;
    border: solid 3px #ffffff;
}

.container-page.main-page .events-section .events-list .events-item.business-program {
    background-image: none;
    border: solid 3px #ffffff;
}

.container-page.main-page .events-section .events-list .events-item.submit-report {
    background-image: none;
    border: solid 3px #ffffff;
}

.container-page.main-page .events-section .events-list .events-item .btns-group a {
    height: 60px;
}

.container-page.main-page .events-section .events-list .events-item .btns-group a.white {
    color: #000000;
}

.container-page.main-page .news-section .btn-more-news a {
    height: 65px;
}

.container-page.main-page .information-participants-section .price-list .price-item .price {
    padding: 25px 0;
}

.container-page.main-page .information-participants-section .price-list .price-item .price .name {
    font-size: 35px;
}

.container-page.main-page .information-participants-section .price-list .price-item .price .cost {
    font-size: 35px;
}

.price-item.student {
    border: solid 2px #64bc47;
}

.price-item.student .price {
    background: #64bc47 !important;
}

.price-item.standart {
    border: solid 2px #ee7405;
}

.price-item.standart .price {
    background: #ee7405 !important;
}

.price-item.level-up {
    border: solid 2px #3fbfc0;
}

.price-item.level-up .price {
    background: #3fbfc0 !important;
}

.price-item.premium {
    border: solid 2px #ec058c;
}

.price-item.premium .price {
    background: #ec058c !important;
}

.container-page.main-page .information-participants-section .price-list .price-item .description {
    background-color: transparent;
}

.container-page.main-page .information-participants-section .price-list .price-item .description ul li {
    color: #ffffff;
}

.container-page.main-page .information-participants-section .price-list .price-item .description ul li:before {
    background-color: #ffffff;
}

.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .signature {
    color: #ffffff;
    font-size: 16px;
}

.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket a {
    color: #000000;
    height: 60px;
    width: 180px;
    background: #ffffff;
}

.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket a:hover {
    color: #ffffff;
    border: solid 3px #ffffff;
    background: #ffffff38;
}

.container-page.main-page .information-participants-section .extra-info .box-info {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.container-page.main-page .information-participants-section .extra-info .box-info.location {
    background-image: none;
}

.container-page.main-page .information-participants-section .extra-info .box-info.flight {
    background-image: none;
}

.container-page.main-page .information-participants-section .extra-info .box-info .title {
    font-size: 38px;
    color: #3fbebf;
    font-family: "Roboto Black", sans-serif;
}

.container-page.main-page .information-participants-section .extra-info .box-info {
    padding: 32px 0 32px;
    display: flex;
}

.container-page.main-page .information-participants-section .extra-info .box-info .box-desc {
    flex-grow: 1;
}

.container-page.main-page .information-participants-section .extra-info .box-info .box-icon {
    flex-basis: 135px;
    min-width: 135px;
}

.container-page.main-page .exhibition-section .box-wrapper.map {
    margin-top: 90px;

}

.container-page.main-page .exhibition-section .box-wrapper .map-side .img {
    max-width: 670px;
}

.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group {
    justify-content: center;
}

.container-page.main-page .exhibition-section .box-wrapper {
    margin-top: 50px;
}

.container-page.main-page .exhibition-section .box-wrapper .contact-side {
    margin-left: 0;
    border: solid #3caeb6 1px;
    width: 100%;
}

.container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box {
    background-image: none;
    background-color: transparent;
    max-width: none;
    width: 100%;
    flex-direction: row;
    -ms-flex-direction: row;
    flex: inherit;
    -ms-flex: inherit;
}

.contact-side .manager-box .manager-avatar {
    /*flex-grow: 2;*/
    margin-bottom: inherit;
    flex-basis: 195px;
    min-width: 195px;
}

.contact-side .manager-box .contact-descr {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    -ms-flex-direction: column;
    /*flex-basis: 555px;
    min-width: 555px;*/
    margin-top: 24px;
    color: #3fbebf;
}

.contact-side .manager-box .btns-group {
    /*flex-grow: 5;*/
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
}

.contact-side .manager-box .manager-avatar img {
    max-width: inherit;
    max-height: inherit;
    align-items: center;
    -ms-flex-align: center;
    object-fit: contain;
}

.contact-side .manager-box .name {
    text-align: left;
    font-family: "Roboto Black", sans-serif;
    font-size: 30px;

}

.contact-side .manager-box .position {
    text-align: left;
    font-family: "Roboto regular", sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
}

.contact-side .manager-box .btns-group a {
    width: 150px;
    height: 55px;
}

.contact-side .manager-box .btns-group a + a {
    margin-top: 0px;
    margin-left: 15px;
}

.contact-side .manager-box .btns-group a.white {
    color: #000000;
}

.contact-side .manager-box .btns-group a.white:hover {
    color: #ffffff;
}

.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.read-more:hover {
    color: #ffffff;
    border: solid 3px #ffffff;
    background: #ffffff38;
}

.contacts-list .manager-box .wrapper .manager-avatar {
    display: none;
}

.contacts-list .manager-box {
    background: none;
    background-image: none !important;
    border: solid #ffffff 2px;
    padding: 40px 15px 30px;
    flex: 0 0 260px;
    max-width: 260px;
}

.contacts-list .manager-box .name {
    margin-bottom: 50px;
    word-spacing: 500px;
    text-transform: uppercase;
}

.contacts-list .manager-box .position {
    margin-bottom: 50px;
}

.contacts-list .manager-box .position a {
    text-decoration: underline;
}

.contacts-list .manager-box .btns-group a {
    width: 190px;
    height: 55px;
}

.contacts-list .manager-box .btns-group a.white {
    color: #000000;
}

.contacts-list .manager-box .btns-group a.white:hover {
    color: #ffffff;
}

.container-page.main-page .media-section .media-list .media-box {
    background-image: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-flex-direction: row;
    flex-direction: row;
}

.container-page.main-page .media-section .media-list .media-box .box-desc .title {
    font-family: "Roboto Black", sans-serif;
    color: #3fbebf;
    margin-bottom: 45px;
}

.container-page.main-page .media-section .media-list .media-box .box-desc {
    flex-grow: 1;
    margin-top: 24px;
}

.container-page.main-page .media-section .media-list .media-box.media .box-desc {
    margin-top: inherit;
}

.container-page.main-page .media-section .media-list .media-box .box-icon {
    flex-basis: 135px;
    min-width: 135px;
}

.container-page.main-page .media-section .media-list .media-box .btn {
    width: 170px;
    height: 55px;
}

.container-page.main-page .media-section .media-list .media-box .box-desc .name {
    font-weight: 500;
    font-size: 27px;
    font-family: "Roboto";
}

.container-page.main-page .media-section .media-list .media-box .box-desc .subtitle a {
    text-decoration: underline;
}

.container-page.main-page .media-section .media-list .media-box .box-desc .subtitle {
    margin-bottom: 45px;
}

.container-page.main-page .media-section .media-list .media-box.totals .btns-group a {
    height: 55px;
}

.container-page.main-page .footer-section.partners .btns-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 12px;
    justify-content: center;
    margin-bottom: 30px;
}

.container-page.main-page .footer-section.partners .btns-group a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 250px;
    max-width: 250px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
}

.container-page.main-page .footer-section.partners .btns-group a.read-more {
    background-color: #ffffff;
    color: #225271;
}

.container-page.main-page .footer-section.partners .btns-group a.download {
    border: solid 1px #ffffff;

}

.container-page.main-page .footer-section.partners .btns-group a.read-more:hover {
   cursor: unset;
}

.container-page.main-page .footer-section.partners .btns-group a.download:hover {
    border: solid 3px #ffffff;
}

.hide {
    display: none;
}

.container-page.main-page .footer-section.partners .btns-group a + a {
    margin-left: 30px;

}

.hotfix{
    display: none;
}




@media screen and (max-height: 768px) {
    .container-page.main-page .information-participants-section .price-list .price-item .price {
        min-height: 130px;
    }
}

@media screen and (max-width: 1024px) {
    .container-page.main-page .information-participants-section .price-list .price-item .price .name {
        font-size: 30px;
    }

    .container-page.main-page .information-participants-section .price-list .price-item .price .cost {
        font-size: 30px;
    }

    .container-page.main-page .information-participants-section .extra-info .box-info .box-icon {
        flex-basis: 90px;
        min-width: 90px;
    }

    .container-page.main-page .information-participants-section .extra-info .box-info .box-icon img{
        width: 75px;
    }

    .container-page.main-page .information-participants-section .extra-info .box-info .title {
        font-size: 32px;
    }

    .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a{
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        max-width: 150px;
    }

    .container-page.main-page .information-participants-section .extra-info .box-info .btns-group a{
        -ms-flex: 0 0 272px;
        flex: 0 0 272px;
        max-width: 272px;
    }
    .contact-side .manager-box .manager-avatar {
        flex-basis: 155px;
        min-width: 155px;
    }
    .contact-side .manager-box .contact-descr{
    /*flex-basis: 555px;
    min-width: 430px;*/
    }

    .container-page.main-page .media-section .media-list .media-box .title{
        font-size: 38px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .title{
        font-size: 38px;
    }
    .container-page.main-page .media-section .media-list .media-box .box-icon img {
        width: 80px;
    }
    .container-page.main-page .media-section .media-list .media-box .box-icon{
        flex-basis: 110px;
        min-width: 110px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a.second {
        margin-left: 10px;
    }
    .hotfix{
        display: block;
    }

}

@media (max-width: 768px) {
    .container-page.main-page .information-participants-section .extra-info .box-info {
        margin-bottom: 5px;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info .title {
        font-size: 38px;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info .box-icon img {
        margin-top: 5px;
    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.download {
        margin-top: 0px;
        margin-left: 30px;
    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a {
        height: 45px;
    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.read-more {
        background-color: #ffffff;
        color: #000000;
    }

    .exhibition-section .custom-container {
        width: 95%;
        max-width: inherit;
    }

    .container-page.main-page .exhibition-section .box-wrapper .contact-side{
        width: 70%;
    }

    .container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box{
        flex-direction: column;
    }




    .contact-side .manager-box .contact-descr {

    }
    .container-page.main-page .manager-box .name {
        font-size: 34px;
        text-align: center;
    }
    .container-page.main-page .manager-box .position {
        font-size: 22px;
        text-align: center;
    }
    .contact-side .manager-box .btns-group {
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        margin-right: 20px;
        width: 300px;
        margin: 0 auto;
    }
    .contact-side .manager-box .btns-group a + a{
        margin-left: inherit;
    }
    .container-page.main-page .manager-box .btns-group a{
        height: 55px;
    }
    .media-section .custom-container{
        width: 95%;
        max-width: inherit;
    }
    .container-page.main-page .media-section .media-list{
        justify-content: center;
    }
    .container-page.main-page .media-section .media-list .media-box{
        min-width: 200px;
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
    }
    .container-page.main-page .media-section .media-list .media-box .box-icon{
        max-height: fit-content;
    }
    .container-page.main-page .media-section .media-list .media-box .box-desc{
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container-page.main-page .media-section .media-list .media-box.media .box-desc{
        margin-top: 10px;
        text-align: center;
    }
    .container-page.main-page .media-section .media-list .media-box .box-icon {
        flex-basis: 80px;
        min-width: 80px;
    }
    .container-page.main-page .media-section .media-list .media-box .title {
        font-size: 32px;
    }
    .container-page.main-page .media-section .media-list .media-box .btn {
        margin: 0 auto;
    }
    .footer-section .custom-container {
        max-width: 750px;
    }
    .section.footer-section .manager-box .name {
        font-size: 20px;
    }
    .container-page.main-page .section.footer-section .contacts-list .manager-box {
        flex: 0 0 230px;
        max-width: 230px;
    }
    .container-page.main-page .section.footer-section .contacts-list .manager-box .position {
        font-size: 14px;
    }
    .container-page.main-page .section.footer-section .contacts-list .manager-box .btns-group a {
        height: 40px;
    }
    .container-page.main-page .footer-section.partners .btns-group a:nth-child(3) {
        margin-top: 20px;
    }
    .hotfix{
        display: block;
    }
}

@media (max-width: 568px) {
    .container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box {
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info{
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a.yandex-maps {
        margin-top: 0;
        margin-left: 30px;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info .box-icon img {
        margin: 0 auto;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
        -ms-flex: 0 0 130px;
        flex: 0 0 130px;
        max-width: 130px;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info .btns-group {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .container-page.main-page .information-participants-section .extra-info .box-info.flight .btns-group a {
        margin: 0 auto;

    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
        height: auto;
    }
    .container-page.main-page .exhibition-section .box-wrapper.map {
        margin-top: 40px;
    }
    .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
        margin-bottom: 40px;
    }
    .container-page.main-page .exhibition-section .box-wrapper {
        margin-top: 0px;
    }

    .contact-side .manager-box .manager-avatar img {
        width: 140px;
    }
    .container-page.main-page .manager-box .name {
        font-size: 24px;
    }
    .container-page.main-page .manager-box .position {
        font-size: 14px;
        text-align: center;
    }
    .contact-side .manager-box .contact-descr {
        align-items: center;
    }
    .contact-side .manager-box .contact-descr {
        flex-basis: 124px;
    }
    .contact-side .manager-box .btns-group {
        margin: 0;
        width: auto;
    }
    .container-page.main-page .manager-box .btns-group a {
        height: 40px;
    }
    .container-page.main-page .manager-box .btns-group a + a {
        margin-top: 15px;
    }
    .container-page.main-page .media-section .media-list .media-box {
        padding: 10px 30px 30px 30px;
    }
    .container-page.main-page .media-section .media-list .media-box .btn {
        height: 45px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .btns-group {
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: center;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a {
        -ms-flex: 0 0 125px;
        flex: 0 0 125px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a.second {
        margin-top: 0px;
        margin-left: 30px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals .btns-group a {
        font-size: 14px;
    }
    .container-page.main-page .media-section .media-list .media-box.totals {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .container-page.main-page .media-section .media-list .media-box .box-desc .name {
        font-size: 24px;
    }
    .container-page.main-page .footer-section.partners .btns-group a + a {
        margin-top: 20px;
        margin-left: inherit;
    }
    .hotfix{
        display: none;
    }
}
