@font-face {
  font-family: "Open sans";
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}

@font-face {
  font-family: "Open sans";
  src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
} 

@font-face {
  font-family: "Open sans";
  src: url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
} 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.custom-container {
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  @media screen {
    @media (max-width: 1200px) {
      max-width: 992px;
    }
    @media (max-width: 992px) {
      max-width: 768px;
    }
    @media (max-width: 768px) {
      max-width: 540px;
    }
    @media (max-width: 568px) {
      max-width: 100%;
    }
  }
}

.manager-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 360px;
  max-width: 360px;
  padding: 20px 15px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media screen {
    @media (max-height: 768px) {
      max-height: 570px;
      padding: 25px 20px 25px;
    }
    @media (max-width: 1200px) {
      flex: 0 0 300px;
      max-width: 300px;
      padding: 30px 20px 35px;
    }
    @media (max-width: 992px) {
      max-width: 270px;
      flex: 1;
    }
    @media (max-width: 768px) {
      padding: 20px 15px 25px;
      max-width: 230px;
    }
  }
  .manager-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    @media screen {
      @media (max-width: 992px) {
        margin-bottom: 15px;
      }
    }
    .avatar {
      position: relative;
      width: 155px;
      height: 190px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      @media screen {
        @media (max-width: 992px) {
          width: 138px;
          height: 161px;
          padding: 10px;
        }
        @media (max-width: 768px) {
          width: 108px;
          height: 131px;
          padding: 6px;
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('./images/manager-border-avatar.png'); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        z-index: 20;
      }
      .img {
        overflow: hidden;
        position: relative;
        z-index: 10;
      }
    }
  }

  .name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    @media screen {
      @media (max-height: 768px) {
        margin-bottom: 20px;
      }
      @media (max-width: 992px) {
        margin-bottom: 15px;
        font-size: 22px;
      }
    }
  }

  .position {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
    @media screen {
      @media (max-height: 768px) {
        margin-bottom: 35px;
      }
      @media (max-width: 992px) {
        font-size: 15px;
      }
    }
  }

  .btns-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 210px;
      height: 45px;
      border-radius: 5px;
      border: solid 1px #ffffff;
      @media screen {
        @media (max-width: 992px) {
          font-size: 14px;
          width: 100%;
        }
      }
      & + a {
        margin-top: 15px;
      }
      &.white {
        color: #48b9c1;
        background-color: #ffffff;
      }
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  &.fixed {
    overflow: hidden;
  }
}

.container-page {
  position: relative;
  .header {
    z-index: 100;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    .custom-container {
      flex: 1 1 auto;
    }
    &.sticky {
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0, .7);
      padding: 5px 0;
      top: 0;
      left: 0;
      transition: .5s;
      height: 45px;
      .box-wrapper {
        .logo {
          height: 35px
        }
        .nav-wrapper {
          .user-panel {
            .avatar {
              width: 40px;
              height: 45px;
            }
          }
        }
      }
    }
    .box-wrapper {
      height: 60px;
      display: flex;
      align-items: center; 
      justify-content: space-between;
      @media screen {
        @media (max-width: 992px) {
          height: 40px;
        }
      }
      .logo {
        .img {
          height: 30px;
        }
        @media screen {
          @media (max-width: 992px) {
            width: 70px;
            height: 38px;
            position: relative;
            z-index: 25;
          }
        }
      }
      .open-mobile-menu {
        @media screen {
          @media (max-width: 992px) {
            display: block;
            z-index: 25;
          }
        }
      }
      .nav-wrapper {
        display: flex;
        align-items: center;
        @media screen {
          @media (max-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            background-image: url('./images/news-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding: 0;
            transform: translateY(-100%);
            transition: .5s;
            height: 100vh;
            z-index: 20;
          }
        }
        &.show {
          @media screen {
            @media (max-width: 992px) {
              transition: .5s;
              transform: translateY(0);
            }
          }
        }
        nav {
          margin-right: 70px;
          font-size: 16px;
          @media screen {
            @media (max-width: 992px) {
              margin-right: 0;
              margin-bottom: 25px;
            }
          }
          .nav {
            display: flex;
            align-items: center;
            list-style: none;
            text-transform: uppercase;
            @media screen {
              @media (max-width: 1200px) {
                font-size: 14px;
              }
              @media (max-width: 992px) {
                flex-direction: column;
              }
            }
            li {
              font-size: 14px;
              @media screen {
                @media (max-width: 992px) {
                  font-size: 18px;
                }
              }
              & + li {
                margin-left: 20px;
                @media screen {
                  @media (max-width: 992px) {
                    margin-top: 15px;
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
        .user-panel {
          display: flex;
          @media screen {
            @media (max-width: 992px) {
              justify-content: center;
            }
          }
          .btns-group {
            display: flex;
            align-items: center;
            @media screen {
              @media (max-width: 992px) {
                margin-right: 0;
              }
            }
            a {
              display: flex;
              align-items: center;
              padding: 0 20px;
              height: 30px;
              border: solid 1px #ffffff;
              border-radius: 1px 1px 0 0;
              font-size: 13px;
              @media screen {
                @media (max-width: 992px) {
                  height: 40px;
                  border-radius: 5px;
                  width: 130px;
                  font-size: 16px;
                  padding: 0;
                  justify-content: center;
                }
              }
              & + a {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  &.main-page {
    color: #ffffff;
    .section {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 60px 0;
      @media screen {
        @media (max-height: 768px) {
          padding: 40px 0;
        }
      }
      .title-section {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        @media screen {
          @media (max-width: 992px) {
            font-size: 41px;
            margin-bottom : 30px;
          }
          @media (max-width: 768px) {
            font-size: 34px;
            margin-bottom: 20px;
          }
        }
      }

      &.first-slide {
        background-image: url('./images/welcome-bg.jpg');
      }
      &.second-slide {
        background-image: url('./images/bg_welcome-section-2.jpg');
        .welcome-content {
          .custom-container {
           .info-side {
             .title {
              padding-left: 0;
              line-height: 48px;
                @media screen {
                  @media (max-width: 992px) {
                    line-height: 25px;
                  }
                }
              }
            } 
          }
        }
      }
    }

    .welcome-section {
      padding-top: 80px;
      padding-bottom: 110px;
      height: 100vh;
      min-height: 670px;
      @media screen {
        @media (max-width: 992px) {
          padding-bottom: 30px;
          position: relative;
          height: auto;
          display: block;
          min-height: 0;
          height: 470px;
        }
        @media (max-height: 768px) {
          padding-bottom: 50px;
        }
      }

      .welcome-content {
        height: 100%;
        display: flex;
        align-items: center;
        @media screen {
          @media (max-height: 768px) {
            padding-top: 25px;
          }
          @media (max-width: 992px) {
            padding-top: 20px;
          }
          @media (max-width: 768px) {
            padding-top: 0;
          }
        }
        .wrapper-info {
          color: #ffffff;
          margin-bottom: 40px;
          @media screen {
            @media (max-height: 768px) {
              margin-bottom: 20px;
            }
            @media (max-width: 992px) {
              margin-bottom: 20px;
            }
          }
          .date {
            font-size: 34px;
            @media screen {
              @media (max-width: 1200px) {
                font-size: 32px;
              }
              @media (max-width: 992px) {
                font-size: 26px;
                margin-bottom: 0;
              }
              @media (max-width: 568px) {
                font-size: 22px;
              }
            }
          }
          .address {
            font-size: 18px;
            font-weight: 700;
            @media screen {
              @media (max-width: 992px) {
                font-size: 16px;
              }
              @media (max-width: 568px) {
                font-size: 14px;
              }
            }
            span {
              text-transform: uppercase;
              position: relative;
              &:before {
                content: '';
                display: block;
                width: 130px;
                height: 3px;
                background-color: #ffffff;
                position: absolute;
                top: 11px;
                left: 100%;
                margin-left: 10px;
                @media screen {
                  @media (max-width: 992px) {
                    width: 90px;
                    top: 10px;
                  }
                  @media (max-width: 568px) {
                    width: 70px;
                    top: 10px;
                    height: 2px;
                  }
                }
              }
            }  
          }
        }
        .logo-side {
          flex: 0 0 auto;
          .logo {
            width: 380px;
            margin-bottom: 40px;
            @media screen {
              @media (max-height: 768px) {
                width: 250px;
                margin-bottom: 20px;
              }
              @media (max-width: 992px) {
                width: 250px;
                margin-bottom: 25px;
              }
              @media (max-width: 768px) {
                width: 160px;
                margin-bottom: 15px;
              }
              @media (max-width: 568px) {
                display: none;
              }
            }
          }
        }
        .info-side {
          flex: 1;
          .title {
            font-weight: 700;
            font-size: 38px;
            text-transform: uppercase;
            line-height: 38px;
            padding-left: 70px;
            max-width: 500px;
            margin-bottom: 50px;
            letter-spacing: 1.2px;
            @media screen {
              @media (max-height: 768px) {
                margin-bottom: 40px;
                font-size: 28px;
                line-height: 30px;
                max-width: 400px;
              }
              @media (max-width: 992px) {
                font-size: 22px;
                padding-left: 55px;
                max-width: 300px;
                line-height: 25px;
                margin-bottom: 40px;
              }
              @media (max-width: 768px) {
                padding-left: 35px;
              }
              @media (max-width: 568px) {
                line-height: 25px;
                padding-left: 0;
              }
            }
            > span {
              position: relative;
              > span {
                position: absolute;
                font-size: 22px;
                line-height: 22px;;
                color: rgba(255, 255, 255, .5);
                font-weight: 400;
                margin-top: 15px;
                margin-left: 5px;
                @media screen {
                  @media (max-height: 768px) {
                    margin-top: 10px;
                    font-size: 18px;
                    line-height: 18px;
                  }
                  @media (max-width: 992px) {
                    font-size: 14px;
                    margin-top: 8px;
                    line-height: 15px;
                  }
                  @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 10px;
                  }
                }
              }
            }
          }
          .tagline {
            text-transform: uppercase;
            // padding-left: 70px;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
            @media screen {
              @media (max-height: 768px) {
                margin-bottom: 10px;
                font-size: 26px;
              }
              @media (max-width: 992px) {
                margin-bottom: 10px;
                font-size: 22px;
                padding-left: 55px;
              }
              @media (max-width: 768px) {
                padding-left: 35px;
              }
              @media (max-width: 568px) {
                padding-left: 0;
              }
            }
          }
          .btns-group {
            display: flex;
            a {
              height: 55px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 0 0 185px;
              @media screen {
                @media (max-width: 992px) {
                  flex: 0 0 140px;
                  font-size: 14px;
                  height: 45px;
                }
                @media (max-width: 568px) {
                  flex: 0 0 135px;
                  height: 40px;
                }
              }
              &.buy-ticket {
                background-color: #FF6F00;
              }
              &.about-forum {
                text-transform: uppercase;
                margin-left: 20px;
                border: 1px solid #ffffff;
                @media screen {
                  @media (max-height: 768px) {
                    margin-left: 10px;
                  }
                  @media (max-width: 992px) {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .news-section {
      background-image: url('./images/news-bg.jpg');

      .news-list {
        display: flex;
        flex-wrap: wrap;
        margin-left:-10px;
        margin-right: -10px;
        margin-bottom: 20px;
        @media screen {
          @media (max-height: 768px) {
            margin: 0 -30px;
          }
          @media (max-width: 992px) {
            margin-left: 5px;
            margin-right: 5px;
          }
        }
        .news-item {
          flex: 1;
          margin: 0 10px 20px;
          max-width: 271px;
          min-width: 20%;
          height: 255px;
          position: relative;
          background-image: url('./images/news-desc-bg.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          overflow: hidden;
          cursor: pointer;
          border-radius: 3px 3px 0 0;
          @media screen {
            @media (max-width: 1200px) {
              max-width: 306px;
              min-width: 27%;
            }
            @media (max-width: 992px) {
              max-width: 232px;
              margin: 0 5px 10px;
              height: 220px;
            }
          }

          .overlay-news {
            background-color: transparent;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 6;
            left: 0;
            top: 0;
            transition: .4s;
          }

          &:hover {
            .description {
              .wrapper {
                transform: translateY(0);
              }
            }
            .overlay-news {
              background-color: rgba(13, 29, 69, .75);
            }
          }

          &.transition {
            .description {
              .wrapper {
                transition: .4s;
              }
            }
          }

          .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            img {
              margin: 0 auto;
            }
          }

          .description {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 226px;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 0 30px 30px;
            opacity: 0.8;
            background-image: url('./images/news-desc-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 10;
            @media screen {
              @media (max-width: 992px) {
                padding: 0 15px 20px;
              }
            }
            .wrapper {
              transform: translateY(60px);
            }
          }

          .news-name {
            font-size: 15px;
            margin-bottom: 20px;
            font-weight: 700;
          }

          .btn-read-more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 30px;
            border: solid 1px #ffffff;
            font-size: 13px;

            .arrow {
              width: 12px;
              transform: rotateZ(180deg);
              margin-left: 5px;
              margin-top: 2px;
              display: block;
              img {
                height: 14px;
              }
            }
          }
        }
      }

      .btn-more-news {
        display: flex;
        justify-content: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 0 0 235px;
          height: 50px;
          border-radius: 5px;
          border: solid 1px #ffffff;
          font-size: 18px;
        }
      }
    }
    
    .events-section {
      background-image: url('./images/events-bg.jpg');

      .events-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        @media screen {
          @media (max-width: 992px) {
            margin-left: -5px;
            margin-right: -5px;
          }
        }

        .events-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          margin: 0 10px 30px;
          padding: 30px 20px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          @media screen {
            @media (max-width: 992px) {
              margin: 0 5px 30px;
            }
            @media (max-height: 768px) {
              padding: 25px;
            }
          }

          .wrapper {
            margin-bottom: 50px;
            @media screen {
              @media (max-height: 768px) {
                display: flex;
                flex: 1;
                flex-direction: column;
                margin-bottom: 25px;
              }
            }
          }

          &.science-program {
            background-image: url('./images/event-1-bg.jpg');
          }

          &.business-program {
            background-image: url('./images/event-2-bg.jpg');
          }

          &.submit-report {
            background-image: url('./images/event-3-bg.jpg');
          }

          p {
            font-size: 23px;
            line-height: 32px;
            @media screen {
              @media (max-width: 992px) {
                font-size: 18px;
                line-height: 26px;
              }
            }
          }
          
          .name {
            font-size: 22px;
            min-height: 50px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            @media screen {
              @media (max-width: 992px) {
                font-size: 18px;
                min-height: 45px;
              }
            }
          }

          ul {
            list-style-type: initial;
            padding-left: 25px;
            margin-bottom: 30px;
            @media screen {
              @media (max-width: 1200px) {
                padding-left: 10px;
              }
              @media (max-width: 992px) {
                font-size: 14px;
              }
            }
            
            li + li {
              margin-top: 5px;
            }
          }

          .btns-group {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 48px;
              max-width: 210px;
              border-radius: 5px;
              font-size: 16px;
              margin: 0 auto;

              &.white {  
                background-color: #ffffff;
                color: #3caeb6;
              }

              &.transparent {
                border: solid 1px #ffffff;
              }

              & + a {
                margin-top: 10px;
              }
            }
            
          }
        }
      }
    }
    
    .exhibition-section {
      background-image: url('./images/exhibition-bg.jpg');
      .box-wrapper {
        display: flex;
        justify-content: center;
        .map-side {
          flex: 0 0 auto;
          .img {
            max-width: 480px;
            margin-bottom: 40px;
            @media screen {
              @media (max-height: 768px) {
                margin-bottom: 30px;
              }
              @media (max-width: 992px) {
                max-width: 340px;
                margin-bottom: 45px;
              }
            }
            img {
              @media screen {
                @media (max-height: 768px) {
                  max-height: 500px;
                }
              }
            }
          }

          .btns-group {
            display: flex;
            flex-wrap: wrap;
            padding: 0 12px;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 0 0 140px;
              max-width: 140px;
              height: 45px;
              font-size: 16px;
              border-radius: 5px;
              @media screen {
                @media (max-width: 992px) {
                  height: 45px;
                  font-size: 14px;
                }
              }
              &.read-more {
                background-color: #ffffff;
                color: #225271;
              }
              &.download {
                border: solid 1px #ffffff;
                margin-left: 30px;
              }
            }
          }
        }

        .contact-side {
          display: flex;
          flex: 0 0 auto;
          margin-left: 50px;
          @media screen {
            @media (max-width: 568px) {
              margin-left: 0;
            }
          }
          .manager-box {
            max-height: 540px;
            background-color: #3caeb6;
            .wrapper {
              .manager-avatar {
                .avatar {
                  &:before {
                    background-image: url(images/exhibition-manager-border-avatar.png);
                  }
                }
              }
            }
          }
        }
      }
    }

    .information-participants-section {
      background-image: url('./images/information-bg.jpg');
      .price-list {
        margin-left: -5px;
        margin-right: -5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 6px;

        .price-item {
          display: flex;
          flex-direction: column;
          flex: 1;
          margin: 0 5px;
          margin-bottom: 10px;
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);

          .price {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            text-transform: uppercase;
            padding: 10px 0;
            text-align: center;
            font-weight: 700;
            @media screen {
              @media (max-height: 768px) {
                flex: 0 0 100px;
                min-height: 100px;
                padding: 10px 0;
              }
            }
            .name {
              font-size: 22px;
              margin-bottom: 5px;
            }

            .cost {
              font-size: 26px;
            }

            &.standart {
              background-image: url('./images/price-1-bg.jpg');
            }
            &.level-up {
              background-image: url('./images/price-2-bg.jpg');
            }
            &.premium {
              background-image: url('./images/price-3-bg.jpg');
            }
          }

          .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 25px 0 30px 0;
            flex: 1 1 auto;
            ul {
              margin-bottom: 30px;
              padding: 0 20px 0 35px; 
              list-style: none;
              @media screen {
                @media (max-height: 768px) {
                  padding: 0 20px 0 45px;
                  margin-bottom: 30px;
                }
                @media (max-width: 1200px) {
                  padding: 0 20px 0 35px;
                }
                @media (max-width: 992px) {
                  padding: 0 15px 0 20px;
                }
              }
              li {
                font-size: 14px;
                color: #2a2a2a;
                position: relative;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  left: -15px;
                  top: 5px;
                  background-color: #48b9c1;
                  @media screen {
                    @media (max-width: 992px) {
                      width: 4px;
                      height: 4px;
                      left: -10px;
                    }
                  }
                }
                & + li {
                  margin-top: 10px;
                  @media screen {
                    @media (max-width: 992px) {
                      margin-top: 5px;
                    }
                  }
                }
              }
            }

            .wrapper {
              .signature {
                font-size: 14px;
                color: #2a2a2a;
                text-align: center;
                margin-bottom: 40px;
                padding: 0 10px;
              }

              .buy-ticket {
                display: flex;
                justify-content: center;
                a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 170px;
                  height: 45px;
                  border-radius: 5px;
                  background-color: #48b9c1;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .extra-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -5px;
        margin-right: -5px;
        .box-info {
          flex: 1;
          margin: 0 5px;
          margin-bottom: 30px;
          padding: 32px 40px 32px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
          @media screen {
            @media (max-width: 992px) {
              padding: 20px 25px 20px;
            }
          }
          .title {
            font-size: 30px;
            margin-bottom: 25px;
            @media screen {
              @media (max-width: 992px) {
                font-size: 22px;
              }
            }
          }
          .btns-group {
            display: flex;
            a {
              font-size: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 0 0 295px;
              max-width: 295px;
              height: 55px;
              border-radius: 5px;
              border: solid 1px #ffffff;
              @media screen {
                @media (max-width: 992px) {
                  height: 45px;
                  font-size: 14px;
                  flex: 0 0 250px;
                  max-width: 250px;
                }
              }
            }
          }

          &.flight {
            background-image: url('./images/part_flight.jpg');
          }
          &.location {
            background-image: url('./images/part_place.jpg');
            .btns-group {
              a {
                text-transform: capitalize;
                @media screen {
                  @media (max-width: 992px) {
                    flex: 0 0 140px;
                    max-width: 140px;
                  }
                }
                &.yandex-maps {
                  @media screen {
                    @media (max-width: 992px) {
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
            .btns-group {
              a {
                flex: 0 0 180px;
                max-width: 180px;

                & + a {
                  margin-left: 30px;
                }
              }
            }
          }
        }
      }
    }

    .media-section {
      background-image: url('./images/media-bg.jpg');

      .media-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
        @media screen {
          @media (max-width: 992px) {
            margin-left: -5px;
            margin-right: -5px;
          }
        }

        .media-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          flex: 0 0 555px;
          max-width: 555px;
          margin: 0 15px;
          padding: 20px 30px 30px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          margin-bottom: 30px;
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
          @media screen {
            @media (max-width: 1200px) {
              flex: 0 0 458px;
              max-width: 458px;
            }
            @media (max-width: 992px) {
              flex: 0 0 355px;
              max-width: 355px;
              padding: 15px 25px 25px;
              margin: 0 5px 10px;
            }
          }

          &.news {
            background-image: url(./images/media_01.png)
          }
          &.media {
            background-image: url(./images/media_02.png)
          }
          &.partnership {
            background-image: url(./images/media_03.png)
          }
          &.totals {
            background-image: url(./images/media_04.png)
          }

          .title {
            font-size: 45px;
            margin-bottom: 80px;
            @media screen {
              @media (max-height: 768px) {
                margin-bottom: 60px;
              }
              @media (max-width: 992px) {
                font-size: 32px;
                margin-bottom: 55px;
              }
            }
          }

          .btn {
            width: 136px;
            height: 45px;
            border-radius: 5px;
            border: solid 1px #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen {
              @media (max-width: 992px) {
                height: 45px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .footer-section {
      background-image: url('./images/footer-bg.jpg');

      .partners-list {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 100px;
        @media screen {
          @media (max-width: 1245px) {
            padding: 0 50px;
          }
          @media (max-width: 568px) {
            padding: 0 10px;
            margin: 0 auto 50px;
            max-width: 290px;
            position: relative;
          }
        }
        &:before {
          content: '';
          position: absolute;
          width: 24px;
          height: 100%;
          background-color: #ffffff;
          left: -14px;
          top: 0;
          display: none;
          @media screen {
            @media (max-width: 568px) {
              display: block;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 24px;
          height: 100%;
          background-color: #ffffff;
          right: -14px;
          top: 0;
          display: none;
          @media screen {
            @media (max-width: 568px) {
              display: block;
            }
          }
        }
        .slick-dots {
          bottom: -50px;
          li {
            &.slick-active {
              button {
                &:before {
                  background-color: #ffffff;
                }
              }
            }
            button {
              width: 8px;
              height: 8px;
              position: relative;
              &:hover {
                &:before {
                  background-color: rgba(255, 255, 255, .5);
                }
              }
              &:before {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: transparent;
                border: 2px solid #ffffff;
                opacity: 1;
              }
            }
          }
        }
        .slick-arrow {
          height: 60px;
          width: 40px;
          background-size: 100% auto;
          background-position: center center;
          background-repeat: no-repeat;
          &.slick-prev {
            background-image: url('./images/slide-prev.svg');
            left: -35px;
            @media screen {
              @media (max-width: 1245px) {
                left: 0;
              }
            }
            &:hover {
              background-image: url('./images/slide-prev-hover.svg');
            }
          }
          &.slick-next {
            background-image: url('./images/slide-next.svg');
            right: -35px;
            @media screen {
              @media (max-width: 1245px) {
                right: 0;
              }
            }
            &:hover {
              background-image: url('./images/slide-next-hover.svg');
            }
          }
        }
        .slick-slide {
          > div {
            & + div {
              margin-top: 20px;
            }
          }
        }
        .wrapper-box {
          padding: 0 10px;
          height: 270px;
          display: flex !important;
          flex-direction: column;
          .partner-box {
            padding: 15px 20px 20px;
            flex: 1;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            height: 100%;
            .partner-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 0 0 110px;
              margin-bottom: 30px;
              img {
                max-height: 110px;
              }
            }
            .wrapper {
              flex: 1 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .partner-description {
                color: #000000;
                font-size: 14px;
                max-height: 51px;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen {
                  @media (max-width: 568px) {
                    text-align: center;
                  }
                }
              }
              .partner-link {
                @media screen {
                  @media (max-width: 568px) {
                    text-align: center;
                  }
                }
                a {
                  color: #3caeb6;
                  text-decoration: underline;
                  font-size: 14px;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }

      .contacts-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-left: -15px;
        margin-right: -15px;
        @media screen {
          @media (max-width: 992px) {
            margin-left: -5px;
            margin-right: -5px;
          }
        }
        .manager-box {
          background-image: url('./images/contact_bg.jpg');
          margin: 0 15px;
          margin-bottom: 30px;
          @media screen {
            @media (max-width: 992px) {
              margin: 0 5px 10px;
              flex: 0 0 239px;
              max-width: 239px;
            }
          }
        }
      }

      .bottom-side {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyrights {
          font-size: 16px;
          @media screen {
            @media (max-width: 992px) {
              font-size: 14px;
            }
          }
        }

        .social-networks {
          display: flex;
          .icon {
            flex: 0 0 59px;
            max-width: 59px;
            height: 68px;
            @media screen {
              @media (max-width: 992px) {
                flex: 0 0 49px;
                max-width: 49px;
                height: 58px;
              }
            }
            & + .icon {
              margin-left: 12px;  
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .news-section {
        .news-list {
          margin-left: -5px;
          margin-right: -5px;
          margin-bottom: 20px;
          .news-item {
            min-width: 32%;
            max-width: 360px;
            height: 220px;
            margin: 0 5px 10px;
          }
        } 

        .btn-more-news {
          a {
            flex: 0 0 230px;
            height: 45px;
            font-size: 14px;
          }
        }
      }

      .events-section {
        padding-top: 40px;
        padding-bottom: 50px;

        .events-list {
          margin-left: -5px;
          margin-right: -5px;
          .events-item {
            padding: 20px 20px 30px 20px;
            max-width: 100%;
            &.submit-report {
              flex: 1 1 100%;
            }

            p {
              font-size: 16px;
              line-height: 18px;
              margin-bottom: 20px;
            }

            .btns-group {
              a {
                height: 40px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .exhibition-section {
        .box-wrapper {
          .map-side {
            .img {
              max-width: 240px;
              margin-bottom: 30px;
            }

            .btns-group {
              a {
                height: 35px;
                &.download {
                  margin-left: 0;
                  margin-top: 15px;
                }
              }
            }
          }

          .contact-side {
            .manager-box {
              .btns-group {
                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .information-participants-section {
        .extra-info {
          .box-info {
            padding: 15px 15px 20px;
            .title {
              font-size: 18px;
            }
            .btns-group  {
              a {
                height: 40px;
                flex: 0 0 200px;
                max-width: 200px;
                font-size: 13px;
              }
            
            }
            &.location {
              .btns-group {
                a {
                  flex: 0 0 100px;
                  max-width: 100px;
                  &.yandex-maps {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .media-section {
        .media-list {
          .media-box {
            padding: 15px 20px 20px;
            min-width: 200px;
            flex: 1;
            .title {
              font-size: 22px;
              margin-bottom: 30px;
            }
            .btn {
              height: 40px;
              width: 120px;
            }
          }
        }
      }

      .footer-section {
        .contacts-list {
          margin-left: -5px;
          margin-right: -5px;
          .manager-box {
            flex: 0 0 163px;
            max-width: 163px;
          }
        }

        .bottom-side {
          .copyrights {
            font-size: 12px;
          }
          .social-networks {
            .icon {
              flex: 0 0 38px;
              max-width: 38px;
              height: 50px;
            }

          }
        }
      }

      .manager-box {
        .name {
          margin-bottom: 10px;
          font-size: 16px;
        }

        .position {
          font-size: 14px;
          margin-bottom: 25px;
          padding: 0;
        }
        .btns-group {
          a {
            height: 35px;
            & + a {
              margin-top: 10px;
            }
          }
        }
      }
    }

    @media (max-width: 568px) {

      .welcome-section {
        .welcome-content {
          .box-wrapper {
            flex-wrap: wrap;
            justify-content: center;
            .logo-side {
              margin-bottom: 35px;
              display: flex;
              flex: 0 0 100%;
              justify-content: center;
              .logo {
                flex: 0 0 154px;
                height: 82px;
              }
            }

            .info-side {
              padding-left: 0;
              .address {
                font-size: 20px;
                margin-bottom: 40px;
              }
              .btns-group {
                justify-content: center;
                a {
                  &.info {
                    display: none;
                  }
                  &.buy-ticket {
                    flex: 0 0 180px;
                  }
                }
              }
            }
          }
        }
      }

      .news-section {
        margin-top: -1px;
        .news-list {
          margin: 0;
          justify-content: center;
          .news-item {
            margin: 0 0 20px 0;
            flex: 0 0 100%;
            max-width: 290px;
            height: 190px;
            .img {
              img {
                height: 100%;
              }
            }
          }
        }
      }

      .events-section {
        margin-top: -1px;
        .events-list {
          justify-content: center;
          margin: 0;
          .events-item {
            flex: 0 0 100%;
            margin: 0 0 20px 0;
            max-width: 290px;
            .wrapper {
              ul {
                padding-left: 30px;
              }
              .btns-group {
                a {
                  &.transparent {
                    margin-top: 15px;
                  }
                }
              }
            }
            p {
              margin-bottom: 50px;
              padding: 0 15px;
              font-size: 18px;
              line-height: 25px;
            }
          }
        }
      }

      .exhibition-section {
        .box-wrapper {
          flex-wrap: wrap;
          justify-content: center;
          .map-side {
            flex: 0 0 100%;
            max-width: 266px;
            margin-bottom: 40px;
            .img {
              height: 300px;
              max-width: 100%;
            }
            .btns-group {
              justify-content: space-between;
              a {
                flex: 1;
                &.download {
                  margin-top: 0;
                  margin-left: 15px;
                }
              }
            }
          }
          .contact-side {
            flex: 0 0 100%;
            justify-content: center;
          }
        }
      }

      .information-participants-section {
        .price-list {
          margin: 0 0 10px 0;
          flex-direction: column;
          align-items: center;
          .price-item {
            margin: 0 0 20px 0; 
            max-width: 290px;
            .description {
              ul {
                padding: 0 15px 0 35px;
                li {
                  & + li {
                    margin-top: 15px;
                  }
                }
              }
              .wrapper {
                .signature {
                  padding: 0 16px;
                }
              }
            }
            .buy-ticket {
              a {
                width: 225px;
              }
            }
          }
        }
        .extra-info {
          margin: 0;  
          flex-direction: column;
          align-items: center;
          .box-info {
            margin: 0;
            padding: 35px 33px;
            max-width: 290px;
            & + .box-info {
              margin-top: 20px;
            }
            &.location {
              .btns-group {
                flex-direction: column;
                a {
                  flex: 0 0 45px;
                  max-width: 100%;
                  &.yandex-maps {
                    margin-left: 0;
                    margin-top: 15px;
                  }
                }
              }
            }
            .title {
              text-align: center;
              font-size: 25px;
              margin-bottom: 40px;
            }
            .btns-group {
              flex-direction: column;
              a {
                flex: 0 0 45px;
                max-width: 100%;
              }
            }
          }
        }
      }

      .media-section {
        .media-list {
          justify-content: center;
          margin: 0;
          .media-box {
            margin: 0 0 20px;
            flex: 0 0 100%;
            max-width: 290px;
            padding: 40px 30px 30px 30px;
            .title {
              margin-bottom: 40px;
              font-size: 30px;
            }
          }
        }
      }

      .footer-section {
        .contacts-list {
          margin: 0;
          margin-bottom: 60px;
          .manager-box {
            max-width: 290px;
            flex: 0 0 100%;
          }
        }
        .bottom-side {
          flex-direction: column;
          .copyrights {
            margin-bottom: 40px;
            font-size: 16px;
            text-align: center;
          }
          .social-networks {
            .icon {
              flex: 0 0 59px;
              max-width: 59px;
              height: 68px;
            }
          }
        }
      }

      .manager-box {
        flex: 0 0 100%;
        max-width: 290px;
      
        .name {
          font-size: 25px;
          margin-bottom: 27px;
        }
      
        .position {
          margin-bottom: 35px;
        }
      
        .btns-group {
          a {
            width: 170px !important;
            height: 45px;
          }
        }
      }
    }
  }

  &.about-forum-page {
    background-color: #f4f4f4;

    .header {
      background-color: #ffffff;
      .custom-container {
        .box-wrapper {
          .nav-wrapper {
            background: #ffffff;
            .nav {
              li {
                &.active {
                  a {
                    color: #00BAC3;
                    border-bottom: 1px solid #00BAC3;
                  }
                }
                a {
                  color: #808080;
                }
              }
            }
          }
        }
        .open-mobile-menu {
          background-image: url('./images/btn-menu-azure.svg');
        
          &.close {
            background-image: url('./images/btn-close-menu-azure.svg');
          }
        }
      }
      .user-panel {
        .btns-group {
          a {
            border-color: #00BAC3;
            color: #00BAC3;
          }
        }
      }
    }

    .section {
      padding: 50px 0 30px;
      @media screen {
        @media (max-width: 992px) {
          padding: 30px 0 20px;
        }
      }
      &.welcome-section {
        padding: 0;
  
        .welcome-content {
          padding: 130px 0 50px;
          color: #222222;
          background-image: url('./images/afp_bg-welcome-section.png');
          background-repeat: no-repeat;
          background-size: auto 65%;
          background-position: right 80%;
          @media screen {
            @media (min-width: 1700px) {
              background-size: auto 70%;
              background-position: right 90%;
            }
            @media (max-width: 1200px) {
              background-size: auto 50%;
              background-position: right 55%;
            }
            @media (max-width: 568px) {
              background-size: 300px auto;
              background-position: right 90%;
              padding: 120px 0 30px;
            }
          }
          .content-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            .welcome-img {
              display: block;
              position: absolute;
              left: -45px;
              top: 40px;
              height: 600px;
              @media screen {
                @media (max-width: 1200px) {
                  height: 520px;
                }
                @media (max-width: 992px) {
                  height: 405px;
                }
                @media (max-width: 768px) {
                  display: none;
                }
              }
            }
            .title-box {
              display: flex;
              width: 100%;
              max-width: 75%;
              position: relative;
              @media screen {
                @media (max-width: 768px) {
                  max-width: 100%;
                }
              }
              .img {
                flex: 1;
                max-width: 25%;
                background-image: url('./images/afp_bg-title.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                @media (max-width: 568px) {
                  display: none;
                }
              }
              .title {
                flex: 1;
                max-width: 75%;
                padding: 40px;
                font-size: 26px;
                letter-spacing: -0.02em;
                font-weight: 700;
                background-color: #ffffff;
                @media screen {
                  @media (max-width: 1200px) {
                    font-size: 24px;
                    padding: 30px;
                  }
                  @media (max-width: 992px) {
                    padding: 25px;
                    font-size: 18px;
                  }
                  @media (max-width: 568px) {
                    padding: 5px;
                    font-size: 16px;
                    line-height: 16px;
                    background-color: inherit;
                    max-width: 100%;
                    text-align: center;
                  }
                }
              }
            }
            .description {
              max-width: 75%;
              padding-top: 25px;
              display: flex;
              justify-content: flex-end;
              @media screen {
                @media (max-width: 992px) {
                  padding-top: 15px;
                }
                @media (max-width: 768px) {
                  max-width: 100%;
                }
              }
              .info-box {
                max-width: 75%;
                padding-right: 40px;
                @media screen {
                  @media (max-width: 1200px) {
                    padding-right: 0;
                  }
                  @media (max-width: 768px) {
                    max-width: 100%;
                  }
                }
                .heading {
                  font-size: 22px;
                  margin-bottom: 25px;
                  @media screen {
                    @media (max-width: 1200px) {
                      font-size: 20px;
                      margin-bottom: 20px;
                    }
                    @media (max-width: 992px) {
                      font-size: 16px;
                      margin-bottom: 15px;
                    }
                    @media (max-width: 568px) {
                      font-size: 14px;
                      margin-bottom: 10px;
                    }
                  }
                }
                p {
                  font-size: 16px;
                  line-height: 22px;
                  @media screen {
                    @media (max-width: 1200px) {
                      font-size: 15px;
                    }
                    @media (max-width: 992px) {
                      font-size: 14px;
                      line-height: 20px;
                    }
                    @media (max-width: 568px) {
                      font-size: 13px;
                      line-height: 18px;
                    }
                  }
                  & + p {
                    margin-top: 15px;
                    @media screen {
                      @media (max-width: 992px) {
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.organizations-section {
        .title {
          color: #222222;
          font-size: 34px;
          font-weight: 700;
          margin-bottom: 60px;
          @media screen {
            @media (max-width: 992px) {
              font-size: 28px;
            }
            @media (max-width: 768px) {
              font-size: 22px;
              margin-bottom: 30px;
            }
            @media (max-width: 568px) {
              font-size: 18px;
              text-align: center;
            }
          }
        }

        .organizations-list {
          display: flex;
          flex-wrap: wrap;
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: 50px;
          @media screen {
            @media (max-width: 992px) {
              margin-bottom: 30px;
            }
            @media (max-width: 768px) {
              margin-bottom: 20px;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          .organization-box-wrapper {
            padding: 0 10px;
            flex: 0 0 20%;
            max-width: 20%;
            margin-bottom: 40px;
            @media screen {
              @media (max-width: 1200px) {
                flex: 0 0 25%;
                max-width: 25%;
              }
              @media (max-width: 992px) {
                margin-bottom: 30px;
              }
              @media (max-width: 768px) {
                flex: 0 0 33.333333333%;
                max-width: 33.333333333%;
              }
              @media (max-width: 568px) {
                flex: 0 0 50%;
                max-width: 50%;
              }
            }
            .organization-box {
              display: flex;
              flex-direction: column;
              cursor: default;
              &:hover {
                .logo-box {
                  height: 100%;
                  position: absolute;
                  z-index: 5;
                  &.scale {
                    opacity: 1;
                    z-index: 10;
                  }
                }
              }
              .organization-logo {
                flex: 0 0 80px;
                height: 80px;
                max-height: 80px;
                padding-right: 30px;
                position: relative;
                @media screen {
                  @media (max-width: 992px) {
                    flex: 0 0 60px;
                    height: 60px;
                    max-height: 60px;
                  }
                  @media (max-width: 568px) {
                    display: flex;
                    justify-content: center;
                    padding: 0 30px;
                    flex: 0 0 45px;
                    height: 45px;
                    max-height: 45px;
                  }
                }
              }
              .logo-box {
                height: 100%;
                position: absolute;
                z-index: 5;
                display: flex;
                align-items: center;
                padding-right: 20px;
                &.scale {
                  opacity: 0;
                  z-index: 10;
                  transition: .8s;
                }
              }
              .organization-name {
                flex: 1 0 auto;
                padding-top: 15px;
                color: rgba(34, 34, 34, 0.7);
                font-size: 14px;
                @media screen {
                  @media (max-width: 992px) {
                    font-size: 11px;
                    padding-top: 20px;
                  }
                  @media (max-width: 768px) {
                    padding-top: 10px;
                  }
                  @media (max-width: 568px) {
                    text-align: center;
                    overflow: hidden;
                    position: relative;
                    line-height: 12px;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }

      &.committee-eof-section {
        background-image: url(./images/afp_bg-committee-eof-section.png);
        background-repeat: no-repeat;
        background-size: auto 25%;
        background-position: left 35%;
        padding-bottom: 70px;
        @media screen {
          @media (max-width: 1200px) {
            background-size: auto 25%;
            background-position: left 45%;
          }
          @media (max-width: 992px) {
            padding-bottom: 40px;
          }
        }
        .title {
          font-size: 42px;
          font-weight: 700;
          margin-bottom: 40px;
          color: #222222;
          @media screen {
            @media (max-width: 768px) {
              font-size: 32px;
              margin-bottom: 20px;
            }
            @media (max-width: 568px) {
              font-size: 24px;
              margin-bottom: 20px;
            }
          }
        }

        .list-co-chairs {
          display: flex;
          flex-wrap: wrap;
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: 100px;
          @media screen {
            @media (max-width: 1200px) {
              margin-bottom: 80px;
            }
            @media (max-width: 768px) {
              margin: 0 0 50px;
            }
          }
          .box-wrapper {
            padding: 0 10px;
            flex: 0 0 50%;
            max-width: 50%;
            @media screen {
              @media (max-width: 768px) {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
              }
            }
            & + .box-wrapper {
              @media screen {
                @media (max-width: 768px) {
                  margin-top: 20px;
                }
              }
            }
            .box {
              display: flex;
              flex-direction: column;
              height: 100%;
              .box-info {
                position: relative;
                .photo {
                  height: 100%;
                }
                .info {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  padding: 0 30px 30px;
                  color: #ffffff;
                  height: 100%;
                  background: linear-gradient(360deg, #000000 0%, rgba(0, 186, 195, 0) 58.9%);
                  // background: linear-gradient(360deg, #00BAC3 0%, rgba(0, 186, 195, 0) 58.9%);
                  @media screen {
                    @media (max-width: 1200px) {
                      padding: 0 15px 15px;
                    }
                  }
                  .name {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    @media screen {
                      @media (max-width: 1200px) {
                        font-size: 24px;
                        margin-bottom: 10px;
                      }
                      @media (max-width: 991px) {
                        font-size: 18px;
                      }
                    }
                  }
                  .position {
                    font-size: 14px;
                    @media screen {
                      @media (max-width: 992px) {
                        font-size: 13px;
                      }
                      @media (max-width: 768px) {
                        line-height: 13px;
                      }
                    }
                  }
                }
              }
              .box-message {
                padding-top: 20px;
                color: #222222;
                flex: 1;
                .message {
                  font-size: 21px;
                  font-weight: 700;
                  margin-bottom: 15px;
                  @media screen {
                    @media (max-width: 1200px) {
                      font-size: 18px;
                    }
                    @media (max-width: 992px) {
                      font-size: 16px;
                    }
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 17px;
                  color: rgba(34, 34, 34, 0.7);
                  p {
                    & + p {
                      margin-top: 8px;
                    }
                  }
                }
              }
            }
          }
        }

        .board-members-list {
          @media screen {
            @media (max-width: 1245px) {
              padding: 0 50px;
            }
          }
          .slick-dots {
            li {
              &.slick-active {
                button {
                  &:before {
                    color: #00BAC3;
                  }
                }
              }
              button {
                &:before {
                  opacity: 1;
                  color: #c3c2c2;
                  font-size: 12px;
                }
              }
            }
          }
          .slick-arrow {
            height: 45px;
            width: 22px;
            background-size: 100% auto;
            background-position: center center;
            background-repeat: no-repeat;
            margin-top: -20px;
            @media screen {
              @media (max-width: 1200px) {
                margin-top: 0;
              }
            }
            &.slick-prev {
              background-image: url(images/af_slide-prev.svg);
              left: -35px;
              @media screen {
                @media (max-width: 1245px) {
                  left: 0;
                }
              }
            }
            &.slick-next {
              background-image: url(./images/af_slide-next.svg);
              right: -35px;
              @media screen {
                @media (max-width: 1245px) {
                  right: 0;
                }
              }
            }
          }
          .slick-slide {
            height: 100%;
          }
          .board-member-box {
            height: 475px;
            padding-bottom: 20px;
            @media screen {
              @media (max-width: 1200px) {
                height: 340px;
              }
              @media (max-width: 768px) {
                height: auto;
              }
            }
            .photo {
              position: relative;
              display: inline-block;
              width: 155px;
              height: 179px;
              margin-bottom: 15px;
              @media screen {
                @media (max-width: 1200px) {
                  width: 110px;
                  height: 126px;
                }
              }
              &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-image: url('./images/board-member-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                z-index: 20;
              }
            }
            .name, .position {
              padding-left: 90px;
              @media screen {
                @media (max-width: 1200px) {
                  padding-left: 52px;
                }
                @media (max-width: 568px) {
                  padding-left: 0;
                }
              }
            }
            .name {
              font-size: 20px;
              margin-bottom: 10px;
              height: 48px;
              @media screen {
                @media (max-width: 1245px) {
                  font-size: 18px;
                  margin-bottom: 0;
                }
                @media (max-width: 568px) {
                  font-size: 14px;
                  margin-bottom: 0;
                }
              }
            }
            .position {
              font-size: 12px;
              color: #606060;
              max-height: 102px;
            }
          }
        }
      }
      
      &.latest-forum-section {
        background-image: url('./images/af_latest-forum-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 70px 0 20px;
        @media screen {
          @media (max-width:1200px) {
            padding: 50px 0 0;
          }
          @media (max-width: 568px) {
            padding: 30px 0 0;
          }
        }
        .title-section {
          font-weight: 700;
          font-size: 40px;
          color: #ffffff;
          margin-bottom: 70px;
          @media screen {
            @media (max-width:1200px) {
              font-size: 32px;
              margin-bottom: 50px;
              max-width: 100%;
            }
            @media (max-width: 768px) {
              font-size: 28px;
              text-align: center;
            }
            @media (max-width: 568px) {
              font-size: 18px;
              margin-bottom: 40px;
            }
          }
        }
        .list-info {
          display: flex;
          flex-wrap: wrap;
          .wrapper-box {
            flex: 0 0 25%;
            max-width: 25%;
            margin-bottom: 50px;
            padding-right: 50px;
            @media screen {
              @media (max-width: 992px) {
                padding: 0 20px;
              }
              @media (max-width: 568px) {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 25px;
              }
            }
            .box-info {
              color: #ffffff;
              @media screen {
                @media (max-width: 992px) {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }
              }
              .icon {
                margin-bottom: 25px;
                height: 50px;
                @media screen {
                  @media (max-width: 768px) {
                    margin-bottom: 15px;
                    height: 30px;
                  }
                  @media (max-width: 568px) {
                    margin-bottom: 0p;
                  }
                }
              }
              .count {
                font-size: 52px;
                font-weight: 700;
                position: relative;
                display: inline-block;
                @media screen {
                  @media (max-width: 1200px) {
                    font-size: 42px;
                  }
                  @media (max-width: 768px) {
                    font-size: 32px;
                  }
                  @media (max-width: 568px) {
                    font-size: 22px;
                  }
                }
                span {
                  position: absolute;
                  right: -10px;
                  top: 5px;
                  font-size: 22px;
                  line-height: 0;
                  @media (max-width: 1200px) {
                    font-size: 18px;
                  }
                  @media (max-width: 768px) {
                    font-size: 16px;
                  }
                  @media (max-width: 568px) {
                    font-size: 13px;
                  }
                }
              }
              .name {
                font-size: 20px;
                @media screen {
                  @media (max-width: 1200px) {
                    font-size: 16px;
                  }
                  @media (max-width: 992px) {
                   text-align: center;
                  }
                  @media (max-width: 768px) {
                    font-size: 14px;
                  }
                  @media (max-width: 568px) {
                    font-size: 13px;
                    line-height: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.media-section, .exhibition-section {
  position: relative;
  &:hover {
    .overlay {
      display: flex;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    font-size: 54px;
    z-index: 50;
    display: none;
    @media screen {
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
  }
}

.open-mobile-menu {
  display: none;
  cursor: pointer;
  width: 28px;
  height: 22px;
  background-image: url('./images/btn-menu-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 10;
  background-size: auto 24px;

  &.close {
    background-image: url('./images/btn-close-menu-white.svg');
    background-size: auto 21px;
  }
}

.slick-slider {
  @media screen {
    @media (max-width: 1245px) {
      overflow: hidden;
    }
  }
  .slick-arrow {
    cursor: pointer;
    &:before {
      display: none;
    }
  }
  .slick-slide {
    outline: none !important;
  }
}