@font-face {
  font-family: "Open sans";
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: url("fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.custom-container {
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .custom-container {
    max-width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .custom-container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .custom-container {
    max-width: 540px;
  }
}
@media screen and (max-width: 568px) {
  .custom-container {
    max-width: 100%;
  }
}
.manager-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 360px;
  padding: 20px 15px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-height: 768px) {
  .manager-box {
    max-height: 570px;
    padding: 25px 20px 25px;
  }
}
@media screen and (max-width: 1200px) {
  .manager-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    max-width: 300px;
    padding: 30px 20px 35px;
  }
}
@media screen and (max-width: 992px) {
  .manager-box {
    max-width: 270px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .manager-box {
    padding: 20px 15px 25px;
    max-width: 230px;
  }
}
.manager-box .manager-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .manager-box .manager-avatar {
    margin-bottom: 15px;
  }
}
.manager-box .manager-avatar .avatar {
  position: relative;
  width: 155px;
  height: 190px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
@media screen and (max-width: 992px) {
  .manager-box .manager-avatar .avatar {
    width: 138px;
    height: 161px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .manager-box .manager-avatar .avatar {
    width: 108px;
    height: 131px;
    padding: 6px;
  }
}
.manager-box .manager-avatar .avatar:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('images/manager-border-avatar.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  z-index: 20;
}
.manager-box .manager-avatar .avatar .img {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.manager-box .name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-height: 768px) {
  .manager-box .name {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .manager-box .name {
    margin-bottom: 15px;
    font-size: 22px;
  }
}
.manager-box .position {
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-height: 768px) {
  .manager-box .position {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 992px) {
  .manager-box .position {
    font-size: 15px;
  }
}
.manager-box .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.manager-box .btns-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #ffffff;
}
@media screen and (max-width: 992px) {
  .manager-box .btns-group a {
    font-size: 14px;
    width: 100%;
  }
}
.manager-box .btns-group a + a {
  margin-top: 15px;
}
.manager-box .btns-group a.white {
  color: #48b9c1;
  background-color: #ffffff;
}
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}
body.fixed {
  overflow: hidden;
}
.container-page {
  position: relative;
}
.container-page .header {
  z-index: 100;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.container-page .header .custom-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.container-page .header.sticky {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  height: 45px;
}
.container-page .header.sticky .box-wrapper .logo {
  height: 35px;
}
.container-page .header.sticky .box-wrapper .nav-wrapper .user-panel .avatar {
  width: 40px;
  height: 45px;
}
.container-page .header .box-wrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper {
    height: 40px;
  }
}
.container-page .header .box-wrapper .logo .img {
  height: 30px;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .logo {
    width: 70px;
    height: 38px;
    position: relative;
    z-index: 25;
  }
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .open-mobile-menu {
    display: block;
    z-index: 25;
  }
}
.container-page .header .box-wrapper .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url('images/news-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .5s;
    transition: .5s;
    height: 100vh;
    z-index: 20;
  }
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper.show {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.container-page .header .box-wrapper .nav-wrapper nav {
  margin-right: 70px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper nav {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.container-page .header .box-wrapper .nav-wrapper nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .container-page .header .box-wrapper .nav-wrapper nav .nav {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper nav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container-page .header .box-wrapper .nav-wrapper nav .nav li {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper nav .nav li {
    font-size: 18px;
  }
}
.container-page .header .box-wrapper .nav-wrapper nav .nav li + li {
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper nav .nav li + li {
    margin-top: 15px;
    margin-left: 0;
  }
}
.container-page .header .box-wrapper .nav-wrapper .user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper .user-panel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group {
    margin-right: 0;
  }
}
.container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 30px;
  border: solid 1px #ffffff;
  border-radius: 1px 1px 0 0;
  font-size: 13px;
}
@media screen and (max-width: 992px) {
  .container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group a {
    height: 40px;
    border-radius: 5px;
    width: 130px;
    font-size: 16px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container-page .header .box-wrapper .nav-wrapper .user-panel .btns-group a + a {
  margin-left: 20px;
}
.container-page.main-page {
  color: #ffffff;
}
.container-page.main-page .section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 60px 0;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .section {
    padding: 40px 0;
  }
}
.container-page.main-page .section .title-section {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .section .title-section {
    font-size: 41px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .section .title-section {
    font-size: 34px;
    margin-bottom: 20px;
  }
}
.container-page.main-page .section.first-slide {
  background-image: url('images/welcome-bg.jpg');
}
.container-page.main-page .section.second-slide {
  background-image: url('images/bg_welcome-section-2.jpg');
}
.container-page.main-page .section.second-slide .welcome-content .custom-container .info-side .title {
  padding-left: 0;
  line-height: 48px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .section.second-slide .welcome-content .custom-container .info-side .title {
    line-height: 25px;
  }
}
.container-page.main-page .welcome-section {
  padding-top: 80px;
  padding-bottom: 110px;
  height: 100vh;
  min-height: 670px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section {
    padding-bottom: 30px;
    position: relative;
    height: auto;
    display: block;
    min-height: 0;
    height: 470px;
  }
  .container-page.main-page .section.first-slide {
    background-image: url('images/welcome-bg_s.jpg');
  }
  .container-page.main-page .section.second-slide {
    background-image: url('images/bg_welcome-section-2_s.jpg');
  }
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section {
    padding-bottom: 50px;
  }
}
.container-page.main-page .welcome-section .welcome-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content {
    padding-top: 25px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content {
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .welcome-section .welcome-content {
    padding-top: 0;
  }
}
.container-page.main-page .welcome-section .welcome-content .wrapper-info {
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info {
    margin-bottom: 20px;
  }
}
.container-page.main-page .welcome-section .welcome-content .wrapper-info .date {
  font-size: 34px;
}
@media screen and (max-width: 1200px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .date {
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .date {
    font-size: 26px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .date {
    font-size: 22px;
  }
}
.container-page.main-page .welcome-section .welcome-content .wrapper-info .address {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .address {
    font-size: 16px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .address {
    font-size: 14px;
  }
}
.container-page.main-page .welcome-section .welcome-content .wrapper-info .address span {
  text-transform: uppercase;
  position: relative;
}
.container-page.main-page .welcome-section .welcome-content .wrapper-info .address span:before {
  content: '';
  display: block;
  width: 130px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 11px;
  left: 100%;
  margin-left: 10px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .address span:before {
    width: 90px;
    top: 10px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .wrapper-info .address span:before {
    width: 70px;
    top: 10px;
    height: 2px;
  }
}
.container-page.main-page .welcome-section .welcome-content .logo-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.container-page.main-page .welcome-section .welcome-content .logo-side .logo {
  width: 380px;
  margin-bottom: 40px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .logo-side .logo {
    width: 250px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .logo-side .logo {
    width: 250px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .welcome-section .welcome-content .logo-side .logo {
    width: 160px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .logo-side .logo {
    display: none;
  }
}
.container-page.main-page .welcome-section .welcome-content .info-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container-page.main-page .welcome-section .welcome-content .info-side .title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 38px;
  padding-left: 70px;
  max-width: 500px;
  margin-bottom: 50px;
  letter-spacing: 1.2px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 30px;
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title {
    font-size: 22px;
    padding-left: 55px;
    max-width: 300px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title {
    padding-left: 35px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title {
    line-height: 25px;
    padding-left: 0;
  }
}
.container-page.main-page .welcome-section .welcome-content .info-side .title > span {
  position: relative;
}
.container-page.main-page .welcome-section .welcome-content .info-side .title > span > span {
  position: absolute;
  font-size: 22px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-top: 15px;
  margin-left: 5px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title > span > span {
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title > span > span {
    font-size: 14px;
    margin-top: 8px;
    line-height: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .title > span > span {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
  }
}
.container-page.main-page .welcome-section .welcome-content .info-side .tagline {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .tagline {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .tagline {
    margin-bottom: 10px;
    font-size: 22px;
    padding-left: 55px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .tagline {
    padding-left: 35px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .tagline {
    padding-left: 0;
  }
}
.container-page.main-page .welcome-section .welcome-content .info-side .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-page.main-page .welcome-section .welcome-content .info-side .btns-group a {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    font-size: 14px;
    height: 45px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 135px;
            flex: 0 0 135px;
    height: 40px;
  }
}
.container-page.main-page .welcome-section .welcome-content .info-side .btns-group a.buy-ticket {
  background-color: #FF6F00;
}
.container-page.main-page .welcome-section .welcome-content .info-side .btns-group a.about-forum {
  text-transform: uppercase;
  margin-left: 20px;
  border: 1px solid #ffffff;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .btns-group a.about-forum {
    margin-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .welcome-section .welcome-content .info-side .btns-group a.about-forum {
    margin-left: 10px;
  }
}
.container-page.main-page .news-section {
  background-image: url('images/news-bg.jpg');
}
.container-page.main-page .news-section .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .news-section .news-list {
    margin: 0 -30px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .news-section .news-list {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.container-page.main-page .news-section .news-list .news-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px 20px;
  max-width: 271px;
  min-width: 20%;
  height: 255px;
  position: relative;
  background-image: url('images/news-desc-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}
@media screen and (max-width: 1200px) {
  .container-page.main-page .news-section .news-list .news-item {
    max-width: 306px;
    min-width: 27%;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .news-section .news-list .news-item {
    max-width: 232px;
    margin: 0 5px 10px;
    height: 220px;
  }
}
.container-page.main-page .news-section .news-list .news-item .overlay-news {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  left: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.container-page.main-page .news-section .news-list .news-item:hover .description .wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.container-page.main-page .news-section .news-list .news-item:hover .overlay-news {
  background-color: rgba(13, 29, 69, 0.75);
}
.container-page.main-page .news-section .news-list .news-item.transition .description .wrapper {
  -webkit-transition: .4s;
  transition: .4s;
}
.container-page.main-page .news-section .news-list .news-item .img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.container-page.main-page .news-section .news-list .news-item .img img {
  margin: 0 auto;
}
.container-page.main-page .news-section .news-list .news-item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 226px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 30px 30px;
  opacity: 0.8;
  background-image: url('images/news-desc-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .news-section .news-list .news-item .description {
    padding: 0 15px 20px;
  }
}
.container-page.main-page .news-section .news-list .news-item .description .wrapper {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.container-page.main-page .news-section .news-list .news-item .news-name {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 700;
}
.container-page.main-page .news-section .news-list .news-item .btn-read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 30px;
  border: solid 1px #ffffff;
  font-size: 13px;
}
.container-page.main-page .news-section .news-list .news-item .btn-read-more .arrow {
  width: 12px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  margin-left: 5px;
  margin-top: 2px;
  display: block;
}
.container-page.main-page .news-section .news-list .news-item .btn-read-more .arrow img {
  height: 14px;
}
.container-page.main-page .news-section .btn-more-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-page.main-page .news-section .btn-more-news a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 235px;
          flex: 0 0 235px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  font-size: 18px;
}
.container-page.main-page .events-section {
  background-image: url('images/events-bg.jpg');
}
.container-page.main-page .events-section .events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .events-section .events-list {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.container-page.main-page .events-section .events-list .events-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px 30px;
  padding: 30px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .events-section .events-list .events-item {
    margin: 0 5px 30px;
  }
}
@media screen and (max-height: 768px) {
  .container-page.main-page .events-section .events-list .events-item {
    padding: 25px;
  }
}
.container-page.main-page .events-section .events-list .events-item .wrapper {
  margin-bottom: 50px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .events-section .events-list .events-item .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
}
.container-page.main-page .events-section .events-list .events-item.science-program {
  background-image: url('images/event-1-bg.jpg');
}
.container-page.main-page .events-section .events-list .events-item.business-program {
  background-image: url('images/event-2-bg.jpg');
}
.container-page.main-page .events-section .events-list .events-item.submit-report {
  background-image: url('images/event-3-bg.jpg');
}
.container-page.main-page .events-section .events-list .events-item p {
  font-size: 23px;
  line-height: 32px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .events-section .events-list .events-item p {
    font-size: 18px;
    line-height: 26px;
  }
}
.container-page.main-page .events-section .events-list .events-item .name {
  font-size: 22px;
  min-height: 50px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .events-section .events-list .events-item .name {
    font-size: 18px;
    min-height: 45px;
  }
}
.container-page.main-page .events-section .events-list .events-item ul {
  list-style-type: initial;
  padding-left: 25px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .container-page.main-page .events-section .events-list .events-item ul {
    padding-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .events-section .events-list .events-item ul {
    font-size: 14px;
  }
}
.container-page.main-page .events-section .events-list .events-item ul li + li {
  margin-top: 5px;
}
.container-page.main-page .events-section .events-list .events-item .btns-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  max-width: 210px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
}
.container-page.main-page .events-section .events-list .events-item .btns-group a.white {
  background-color: #ffffff;
  color: #3caeb6;
}
.container-page.main-page .events-section .events-list .events-item .btns-group a.transparent {
  border: solid 1px #ffffff;
}
.container-page.main-page .events-section .events-list .events-item .btns-group a + a {
  margin-top: 10px;
}
.container-page.main-page .exhibition-section {
  background-image: url('images/exhibition-bg.jpg');
}
.container-page.main-page .exhibition-section .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-page.main-page .exhibition-section .box-wrapper .map-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.container-page.main-page .exhibition-section .box-wrapper .map-side .img {
  max-width: 480px;
  margin-bottom: 40px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
    max-width: 340px;
    margin-bottom: 45px;
  }
}
@media screen and (max-height: 768px) {
  .container-page.main-page .exhibition-section .box-wrapper .map-side .img img {
    max-height: 500px;
  }
}
.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 12px;
}
.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  max-width: 140px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a {
    height: 45px;
    font-size: 14px;
  }
}
.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.read-more {
  background-color: #ffffff;
  color: #225271;
}
.container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.download {
  border: solid 1px #ffffff;
  margin-left: 30px;
}
.container-page.main-page .exhibition-section .box-wrapper .contact-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 50px;
}
@media screen and (max-width: 568px) {
  .container-page.main-page .exhibition-section .box-wrapper .contact-side {
    margin-left: 0;
  }
}
.container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box {
  max-height: 540px;
  background-color: #3caeb6;
}
.container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box .wrapper .manager-avatar .avatar:before {
  background-image: url(images/exhibition-manager-border-avatar.png);
}
.container-page.main-page .information-participants-section {
  background-image: url('images/information-bg.jpg');
}
.container-page.main-page .information-participants-section .price-list {
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}
.container-page.main-page .information-participants-section .price-list .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
}
.container-page.main-page .information-participants-section .price-list .price-item .price {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .information-participants-section .price-list .price-item .price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    min-height: 100px;
    padding: 10px 0;
  }
}
.container-page.main-page .information-participants-section .price-list .price-item .price .name {
  font-size: 22px;
  margin-bottom: 5px;
}
.container-page.main-page .information-participants-section .price-list .price-item .price .cost {
  font-size: 26px;
}
.container-page.main-page .information-participants-section .price-list .price-item .price.standart {
  background-image: url('images/price-1-bg.jpg');
}
.container-page.main-page .information-participants-section .price-list .price-item .price.level-up {
  background-image: url('images/price-2-bg.jpg');
}
.container-page.main-page .information-participants-section .price-list .price-item .price.premium {
  background-image: url('images/price-3-bg.jpg');
}
.container-page.main-page .information-participants-section .price-list .price-item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 25px 0 30px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.container-page.main-page .information-participants-section .price-list .price-item .description ul {
  margin-bottom: 30px;
  padding: 0 20px 0 35px;
  list-style: none;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .information-participants-section .price-list .price-item .description ul {
    padding: 0 20px 0 45px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .container-page.main-page .information-participants-section .price-list .price-item .description ul {
    padding: 0 20px 0 35px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .price-list .price-item .description ul {
    padding: 0 15px 0 20px;
  }
}
.container-page.main-page .information-participants-section .price-list .price-item .description ul li {
  font-size: 14px;
  color: #2a2a2a;
  position: relative;
}
.container-page.main-page .information-participants-section .price-list .price-item .description ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: -15px;
  top: 5px;
  background-color: #48b9c1;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .price-list .price-item .description ul li:before {
    width: 4px;
    height: 4px;
    left: -10px;
  }
}
.container-page.main-page .information-participants-section .price-list .price-item .description ul li + li {
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .price-list .price-item .description ul li + li {
    margin-top: 5px;
  }
}
.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .signature {
  font-size: 14px;
  color: #2a2a2a;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 10px;
}
.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .buy-ticket a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 45px;
  border-radius: 5px;
  background-color: #48b9c1;
  font-size: 16px;
}
.container-page.main-page .information-participants-section .extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}
.container-page.main-page .information-participants-section .extra-info .box-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  margin-bottom: 30px;
  padding: 32px 40px 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .extra-info .box-info {
    padding: 20px 25px 20px;
  }
}
.container-page.main-page .information-participants-section .extra-info .box-info .title {
  font-size: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .extra-info .box-info .title {
    font-size: 22px;
  }
}
.container-page.main-page .information-participants-section .extra-info .box-info .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-page.main-page .information-participants-section .extra-info .box-info .btns-group a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 295px;
          flex: 0 0 295px;
  max-width: 295px;
  height: 55px;
  border-radius: 5px;
  border: solid 1px #ffffff;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .extra-info .box-info .btns-group a {
    height: 45px;
    font-size: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    max-width: 250px;
  }
}
.container-page.main-page .information-participants-section .extra-info .box-info.flight {
  background-image: url('images/part_flight.jpg');
}
.container-page.main-page .information-participants-section .extra-info .box-info.location {
  background-image: url('images/part_place.jpg');
}
.container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
  text-transform: capitalize;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    max-width: 140px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a.yandex-maps {
    margin-left: 10px;
  }
}
.container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  max-width: 180px;
}
.container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a + a {
  margin-left: 30px;
}
.container-page.main-page .media-section {
  background-image: url('images/media-bg.jpg');
}
.container-page.main-page .media-section .media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .media-section .media-list {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.container-page.main-page .media-section .media-list .media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 555px;
          flex: 0 0 555px;
  max-width: 555px;
  margin: 0 15px;
  padding: 20px 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
  -webkit-box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 18px 31.2px 40px 0 rgba(0, 0, 0, 0.11);
}
@media screen and (max-width: 1200px) {
  .container-page.main-page .media-section .media-list .media-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 458px;
            flex: 0 0 458px;
    max-width: 458px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .media-section .media-list .media-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 355px;
            flex: 0 0 355px;
    max-width: 355px;
    padding: 15px 25px 25px;
    margin: 0 5px 10px;
  }
}
.container-page.main-page .media-section .media-list .media-box.news {
  background-image: url(images/media_01.png);
}
.container-page.main-page .media-section .media-list .media-box.media {
  background-image: url(images/media_02.png);
}
.container-page.main-page .media-section .media-list .media-box.partnership {
  background-image: url(images/media_03.png);
}
.container-page.main-page .media-section .media-list .media-box.totals {
  background-image: url(images/media_04.png);
}
.container-page.main-page .media-section .media-list .media-box .title {
  font-size: 45px;
  margin-bottom: 80px;
}
@media screen and (max-height: 768px) {
  .container-page.main-page .media-section .media-list .media-box .title {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.main-page .media-section .media-list .media-box .title {
    font-size: 32px;
    margin-bottom: 55px;
  }
}
.container-page.main-page .media-section .media-list .media-box .btn {
  width: 136px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .media-section .media-list .media-box .btn {
    height: 45px;
    font-size: 14px;
  }
}
.container-page.main-page .footer-section {
  background-image: url('images/footer-bg.jpg');
}
.container-page.main-page .footer-section .partners-list {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1245px) {
  .container-page.main-page .footer-section .partners-list {
    padding: 0 50px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .footer-section .partners-list {
    padding: 0 10px;
    margin: 0 auto 50px;
    max-width: 290px;
    position: relative;
  }
}
.container-page.main-page .footer-section .partners-list:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 100%;
  background-color: #ffffff;
  left: -14px;
  top: 0;
  display: none;
}
@media screen and (max-width: 568px) {
  .container-page.main-page .footer-section .partners-list:before {
    display: block;
  }
}
.container-page.main-page .footer-section .partners-list:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 100%;
  background-color: #ffffff;
  right: -14px;
  top: 0;
  display: none;
}
@media screen and (max-width: 568px) {
  .container-page.main-page .footer-section .partners-list:after {
    display: block;
  }
}
.container-page.main-page .footer-section .partners-list .slick-dots {
  bottom: -50px;
}
.container-page.main-page .footer-section .partners-list .slick-dots li.slick-active button:before {
  background-color: #ffffff;
}
.container-page.main-page .footer-section .partners-list .slick-dots li button {
  width: 8px;
  height: 8px;
  position: relative;
}
.container-page.main-page .footer-section .partners-list .slick-dots li button:hover:before {
  background-color: rgba(255, 255, 255, 0.5);
}
.container-page.main-page .footer-section .partners-list .slick-dots li button:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  opacity: 1;
}
.container-page.main-page .footer-section .partners-list .slick-arrow {
  height: 60px;
  width: 40px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-page.main-page .footer-section .partners-list .slick-arrow.slick-prev {
  background-image: url('images/slide-prev.svg');
  left: -35px;
}
@media screen and (max-width: 1245px) {
  .container-page.main-page .footer-section .partners-list .slick-arrow.slick-prev {
    left: 0;
  }
}
.container-page.main-page .footer-section .partners-list .slick-arrow.slick-prev:hover {
  background-image: url('images/slide-prev-hover.svg');
}
.container-page.main-page .footer-section .partners-list .slick-arrow.slick-next {
  background-image: url('images/slide-next.svg');
  right: -35px;
}
@media screen and (max-width: 1245px) {
  .container-page.main-page .footer-section .partners-list .slick-arrow.slick-next {
    right: 0;
  }
}
.container-page.main-page .footer-section .partners-list .slick-arrow.slick-next:hover {
  background-image: url('images/slide-next-hover.svg');
}
.container-page.main-page .footer-section .partners-list .slick-slide > div + div {
  margin-top: 20px;
}
.container-page.main-page .footer-section .partners-list .wrapper-box {
  padding: 0 10px;
  height: 270px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box {
  padding: 15px 20px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  margin-bottom: 30px;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .partner-logo img {
  max-height: 110px;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper .partner-description {
  color: #000000;
  font-size: 14px;
  max-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 568px) {
  .container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper .partner-description {
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper .partner-link {
    text-align: center;
  }
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper .partner-link a {
  color: #3caeb6;
  text-decoration: underline;
  font-size: 14px;
}
.container-page.main-page .footer-section .partners-list .wrapper-box .partner-box .wrapper .partner-link a:hover {
  text-decoration: none;
}
.container-page.main-page .footer-section .contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .footer-section .contacts-list {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.container-page.main-page .footer-section .contacts-list .manager-box {
  background-image: url('images/contact_bg.jpg');
  margin: 0 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .footer-section .contacts-list .manager-box {
    margin: 0 5px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 239px;
            flex: 0 0 239px;
    max-width: 239px;
  }
}
.container-page.main-page .footer-section .bottom-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-page.main-page .footer-section .bottom-side .copyrights {
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .footer-section .bottom-side .copyrights {
    font-size: 14px;
  }
}
.container-page.main-page .footer-section .bottom-side .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-page.main-page .footer-section .bottom-side .social-networks .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 59px;
          flex: 0 0 59px;
  max-width: 59px;
  height: 68px;
}
@media screen and (max-width: 992px) {
  .container-page.main-page .footer-section .bottom-side .social-networks .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49px;
            flex: 0 0 49px;
    max-width: 49px;
    height: 58px;
  }
}
.container-page.main-page .footer-section .bottom-side .social-networks .icon + .icon {
  margin-left: 12px;
}
@media (max-width: 768px) {
  .container-page.main-page .news-section .news-list {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
  }
  .container-page.main-page .news-section .news-list .news-item {
    min-width: 32%;
    max-width: 360px;
    height: 220px;
    margin: 0 5px 10px;
  }
  .container-page.main-page .news-section .btn-more-news a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 230px;
            flex: 0 0 230px;
    height: 45px;
    font-size: 14px;
  }
  .container-page.main-page .events-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .container-page.main-page .events-section .events-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .container-page.main-page .events-section .events-list .events-item {
    padding: 20px 20px 30px 20px;
    max-width: 100%;
  }
  .container-page.main-page .events-section .events-list .events-item.submit-report {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .container-page.main-page .events-section .events-list .events-item p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .container-page.main-page .events-section .events-list .events-item .btns-group a {
    height: 40px;
    font-size: 14px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
    max-width: 240px;
    margin-bottom: 30px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a {
    height: 35px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.download {
    margin-left: 0;
    margin-top: 15px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .contact-side .manager-box .btns-group a {
    width: 100%;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info {
    padding: 15px 15px 20px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info .title {
    font-size: 18px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info .btns-group a {
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px;
    font-size: 13px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a.yandex-maps {
    margin-left: 10px;
  }
  .container-page.main-page .media-section .media-list .media-box {
    padding: 15px 20px 20px;
    min-width: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container-page.main-page .media-section .media-list .media-box .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .container-page.main-page .media-section .media-list .media-box .btn {
    height: 40px;
    width: 120px;
  }
  .container-page.main-page .footer-section .contacts-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .container-page.main-page .footer-section .contacts-list .manager-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 163px;
            flex: 0 0 163px;
    max-width: 163px;
  }
  .container-page.main-page .footer-section .bottom-side .copyrights {
    font-size: 12px;
  }
  .container-page.main-page .footer-section .bottom-side .social-networks .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    max-width: 38px;
    height: 50px;
  }
  .container-page.main-page .manager-box .name {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .container-page.main-page .manager-box .position {
    font-size: 14px;
    margin-bottom: 25px;
    padding: 0;
  }
  .container-page.main-page .manager-box .btns-group a {
    height: 35px;
  }
  .container-page.main-page .manager-box .btns-group a + a {
    margin-top: 10px;
  }
}
@media (max-width: 568px) {
  .container-page.main-page .welcome-section .welcome-content .box-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .logo-side {
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .logo-side .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 154px;
            flex: 0 0 154px;
    height: 82px;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side {
    padding-left: 0;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .address {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .btns-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .btns-group a.info {
    display: none;
  }
  .container-page.main-page .welcome-section .welcome-content .box-wrapper .info-side .btns-group a.buy-ticket {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
  .container-page.main-page .news-section {
    margin-top: -1px;
  }
  .container-page.main-page .news-section .news-list {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .news-section .news-list .news-item {
    margin: 0 0 20px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 290px;
    height: 190px;
  }
  .container-page.main-page .news-section .news-list .news-item .img img {
    height: 100%;
  }
  .container-page.main-page .events-section {
    margin-top: -1px;
    background-image: url('images/events-bg_s.jpg');
  }
  .container-page.main-page .events-section .events-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .container-page.main-page .events-section .events-list .events-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 20px 0;
    max-width: 290px;
  }
  .container-page.main-page .events-section .events-list .events-item .wrapper ul {
    padding-left: 30px;
  }
  .container-page.main-page .events-section .events-list .events-item .wrapper .btns-group a.transparent {
    margin-top: 15px;
  }
  .container-page.main-page .events-section .events-list .events-item p {
    margin-bottom: 50px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 25px;
  }
  .container-page.main-page .exhibition-section .box-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 266px;
    margin-bottom: 40px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .img {
    height: 300px;
    max-width: 100%;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container-page.main-page .exhibition-section .box-wrapper .map-side .btns-group a.download {
    margin-top: 0;
    margin-left: 15px;
  }
  .container-page.main-page .exhibition-section .box-wrapper .contact-side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-page.main-page .information-participants-section .price-list {
    margin: 0 0 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-page.main-page .information-participants-section .price-list .price-item {
    margin: 0 0 20px 0;
    max-width: 290px;
  }
  .container-page.main-page .information-participants-section .price-list .price-item .description ul {
    padding: 0 15px 0 35px;
  }
  .container-page.main-page .information-participants-section .price-list .price-item .description ul li + li {
    margin-top: 15px;
  }
  .container-page.main-page .information-participants-section .price-list .price-item .description .wrapper .signature {
    padding: 0 16px;
  }
  .container-page.main-page .information-participants-section .price-list .price-item .buy-ticket a {
    width: 225px;
  }
  .container-page.main-page .information-participants-section .extra-info {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info {
    margin: 0;
    padding: 35px 33px;
    max-width: 290px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info + .box-info {
    margin-top: 20px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    max-width: 100%;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info.location .btns-group a.yandex-maps {
    margin-left: 0;
    margin-top: 15px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info .title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info .btns-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-page.main-page .information-participants-section .extra-info .box-info .btns-group a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    max-width: 100%;
  }
  .container-page.main-page .media-section .media-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .container-page.main-page .media-section .media-list .media-box {
    margin: 0 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 290px;
    padding: 40px 30px 30px 30px;
  }
  .container-page.main-page .media-section .media-list .media-box .title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .container-page.main-page .footer-section .contacts-list {
    margin: 0;
    margin-bottom: 60px;
  }
  .container-page.main-page .footer-section .contacts-list .manager-box {
    max-width: 290px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .container-page.main-page .footer-section .bottom-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-page.main-page .footer-section .bottom-side .copyrights {
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
  }
  .container-page.main-page .footer-section .bottom-side .social-networks .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 59px;
            flex: 0 0 59px;
    max-width: 59px;
    height: 68px;
  }
  .container-page.main-page .manager-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 290px;
  }
  .container-page.main-page .manager-box .name {
    font-size: 25px;
    margin-bottom: 27px;
  }
  .container-page.main-page .manager-box .position {
    margin-bottom: 35px;
  }
  .container-page.main-page .manager-box .btns-group a {
    width: 170px !important;
    height: 45px;
  }
  .container-page.main-page .media-section .media-list .media-box.news {
    background-image: url(images/media_01_s.png);
  }
  .container-page.main-page .media-section .media-list .media-box.media {
    background-image: url(images/media_02_s.png);
  }
  .container-page.main-page .media-section .media-list .media-box.partnership {
    background-image: url(images/media_03_s.png);
  }
  .container-page.main-page .media-section .media-list .media-box.totals {
    background-image: url(images/media_04_s.png);
  }
}
.container-page.about-forum-page {
  background-color: #f4f4f4;
}
.container-page.about-forum-page .header {
  background-color: #ffffff;
}
.container-page.about-forum-page .header .custom-container .box-wrapper .nav-wrapper {
  background: #ffffff;
}
.container-page.about-forum-page .header .custom-container .box-wrapper .nav-wrapper .nav li.active a {
  color: #00BAC3;
  border-bottom: 1px solid #00BAC3;
}
.container-page.about-forum-page .header .custom-container .box-wrapper .nav-wrapper .nav li a {
  color: #808080;
}
.container-page.about-forum-page .header .custom-container .open-mobile-menu {
  background-image: url('images/btn-menu-azure.svg');
}
.container-page.about-forum-page .header .custom-container .open-mobile-menu.close {
  background-image: url('images/btn-close-menu-azure.svg');
}
.container-page.about-forum-page .header .user-panel .btns-group a {
  border-color: #00BAC3;
  color: #00BAC3;
}
.container-page.about-forum-page .section {
  padding: 50px 0 30px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section {
    padding: 30px 0 20px;
  }
}
.container-page.about-forum-page .section.welcome-section {
  padding: 0;
}
.container-page.about-forum-page .section.welcome-section .welcome-content {
  padding: 130px 0 50px;
  color: #222222;
  background-image: url('images/afp_bg-welcome-section.png');
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: right 80%;
}
@media screen and (min-width: 1700px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content {
    background-size: auto 70%;
    background-position: right 90%;
  }
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content {
    background-size: auto 50%;
    background-position: right 55%;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content {
    background-size: 300px auto;
    background-position: right 90%;
    padding: 120px 0 30px;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .welcome-img {
  display: block;
  position: absolute;
  left: -45px;
  top: 40px;
  height: 600px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .welcome-img {
    height: 520px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .welcome-img {
    height: 405px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .welcome-img {
    display: none;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 75%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box {
    max-width: 100%;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 25%;
  background-image: url('images/afp_bg-title.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 568px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .img {
    display: none;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 75%;
  padding: 40px;
  font-size: 26px;
  letter-spacing: -0.02em;
  font-weight: 700;
  background-color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .title {
    font-size: 24px;
    padding: 30px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .title {
    padding: 25px;
    font-size: 18px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .title-box .title {
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    background-color: inherit;
    max-width: 100%;
    text-align: center;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description {
  max-width: 75%;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description {
    padding-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description {
    max-width: 100%;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box {
  max-width: 75%;
  padding-right: 40px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box {
    max-width: 100%;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box .heading {
  font-size: 22px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box .heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box .heading {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box .heading {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p {
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p {
    font-size: 13px;
    line-height: 18px;
  }
}
.container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p + p {
  margin-top: 15px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.welcome-section .welcome-content .content-box .description .info-box p + p {
    margin-top: 10px;
  }
}
.container-page.about-forum-page .section.organizations-section .title {
  color: #222222;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.organizations-section .title {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.organizations-section .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.organizations-section .title {
    font-size: 18px;
    text-align: center;
  }
}
.container-page.about-forum-page .section.organizations-section .organizations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list {
    margin-bottom: 20px;
  }
}
.container-page.about-forum-page .section.organizations-section .organizations-list:last-child {
  margin-bottom: 0;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333333%;
            flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box:hover .logo-box {
  height: 100%;
  position: absolute;
  z-index: 5;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box:hover .logo-box.scale {
  opacity: 1;
  z-index: 10;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  max-height: 80px;
  padding-right: 30px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    height: 60px;
    max-height: 60px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
    max-height: 45px;
  }
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .logo-box {
  height: 100%;
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .logo-box.scale {
  opacity: 0;
  z-index: 10;
  -webkit-transition: .8s;
  transition: .8s;
}
.container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 15px;
  color: rgba(34, 34, 34, 0.7);
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-name {
    font-size: 11px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-name {
    padding-top: 10px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.organizations-section .organizations-list .organization-box-wrapper .organization-box .organization-name {
    text-align: center;
    overflow: hidden;
    position: relative;
    line-height: 12px;
    font-size: 10px;
  }
}
.container-page.about-forum-page .section.committee-eof-section {
  background-image: url(images/afp_bg-committee-eof-section.png);
  background-repeat: no-repeat;
  background-size: auto 25%;
  background-position: left 35%;
  padding-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section {
    background-size: auto 25%;
    background-position: left 45%;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.committee-eof-section {
    padding-bottom: 40px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222222;
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.committee-eof-section .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs {
    margin: 0 0 50px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper + .box-wrapper {
    margin-top: 20px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info {
  position: relative;
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .photo {
  height: 100%;
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px 30px;
  color: #ffffff;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(58.9%, rgba(0, 186, 195, 0)));
  background: linear-gradient(360deg, #000000 0%, rgba(0, 186, 195, 0) 58.9%);
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info {
    padding: 0 15px 15px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .name {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .name {
    font-size: 18px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .position {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .position {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-info .info .position {
    line-height: 13px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message {
  padding-top: 20px;
  color: #222222;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message .message {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message .message {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message .message {
    font-size: 16px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message .description {
  font-size: 14px;
  line-height: 17px;
  color: rgba(34, 34, 34, 0.7);
}
.container-page.about-forum-page .section.committee-eof-section .list-co-chairs .box-wrapper .box .box-message .description p + p {
  margin-top: 8px;
}
@media screen and (max-width: 1245px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list {
    padding: 0 50px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-dots li.slick-active button:before {
  color: #00BAC3;
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-dots li button:before {
  opacity: 1;
  color: #c3c2c2;
  font-size: 12px;
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow {
  height: 45px;
  width: 22px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -20px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow {
    margin-top: 0;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow.slick-prev {
  background-image: url(images/af_slide-prev.svg);
  left: -35px;
}
@media screen and (max-width: 1245px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow.slick-prev {
    left: 0;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow.slick-next {
  background-image: url(images/af_slide-next.svg);
  right: -35px;
}
@media screen and (max-width: 1245px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-arrow.slick-next {
    right: 0;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .slick-slide {
  height: 100%;
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box {
  height: 475px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box {
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box {
    height: auto;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .photo {
  position: relative;
  display: inline-block;
  width: 155px;
  height: 179px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .photo {
    width: 110px;
    height: 126px;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .photo:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('images/board-member-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 20;
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name,
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .position {
  padding-left: 90px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name,
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .position {
    padding-left: 52px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name,
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .position {
    padding-left: 0;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name {
  font-size: 20px;
  margin-bottom: 10px;
  height: 48px;
}
@media screen and (max-width: 1245px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name {
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .name {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.container-page.about-forum-page .section.committee-eof-section .board-members-list .board-member-box .position {
  font-size: 12px;
  color: #606060;
  max-height: 102px;
}
.container-page.about-forum-page .section.latest-forum-section {
  background-image: url('images/af_latest-forum-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 70px 0 20px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.latest-forum-section {
    padding: 50px 0 0;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section {
    padding: 30px 0 0;
  }
}
.container-page.about-forum-page .section.latest-forum-section .title-section {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.latest-forum-section .title-section {
    font-size: 32px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.latest-forum-section .title-section {
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .title-section {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box {
    padding: 0 20px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 25px;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info {
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .icon {
  margin-bottom: 25px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .icon {
    margin-bottom: 15px;
    height: 30px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .icon {
    margin-bottom: 0p;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count {
  font-size: 52px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count {
    font-size: 42px;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count {
    font-size: 32px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count {
    font-size: 22px;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count span {
  position: absolute;
  right: -10px;
  top: 5px;
  font-size: 22px;
  line-height: 0;
}
@media (max-width: 1200px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count span {
    font-size: 16px;
  }
}
@media (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .count span {
    font-size: 13px;
  }
}
.container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .name {
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .name {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .name {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .name {
    font-size: 14px;
  }
}
@media screen and (max-width: 568px) {
  .container-page.about-forum-page .section.latest-forum-section .list-info .wrapper-box .box-info .name {
    font-size: 13px;
    line-height: 13px;
  }
}
.media-section,
.exhibition-section {
  position: relative;
}
.media-section:hover .overlay,
.exhibition-section:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media-section .overlay,
.exhibition-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 54px;
  z-index: 50;
  display: none;
}
@media screen and (max-width: 768px) {
  .media-section .overlay,
  .exhibition-section .overlay {
    font-size: 32px;
  }
}
.open-mobile-menu {
  display: none;
  cursor: pointer;
  width: 28px;
  height: 22px;
  background-image: url('images/btn-menu-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 10;
  background-size: auto 24px;
}
.open-mobile-menu.close {
  background-image: url('images/btn-close-menu-white.svg');
  background-size: auto 21px;
}
@media screen and (max-width: 1245px) {
  .slick-slider {
    overflow: hidden;
  }
}
.slick-slider .slick-arrow {
  cursor: pointer;
}
.slick-slider .slick-arrow:before {
  display: none;
}
.slick-slider .slick-slide {
  outline: none !important;
}
