b {
    font-weight: 500;
}

.programm-event.separator {
    box-shadow: none;
}

.programm-event.separator:hover {
    cursor: default;
}

.programm-event.separator .programm-event-heading {
    text-align: center;
}

.programm-event.separator .programm-event-heading h3 {
    font-size: 4.0rem;
    font-weight: 400;
}

.programm-event.open .programm-event-content {
    max-height: 700.0rem;
    max-height: fit-content;
}


@media (max-width: 780px) {
    .programm-event.separator .programm-event-heading h3 {
        font-size: 2.1rem;
        font-weight: 500;
        margin: unset;
    }
}

.entry.about p {
    font-size: 1.6rem;
}

.about-buttons {
    margin-bottom: 2rem;
}

.about-buttons .btn {
    margin: 1rem 0.5rem;
    width: 22rem;
    background: #fff;
    color: #48b9c1;

}

.about-buttons .btn:hover {
    background: #48b9c1;
    color: #fff;
}

.container.about h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

@media (max-width: 780px) {
    .about-buttons .btn {
        width: 98%;
    }

    .container.about h1 {
        font-size: 3rem;
    }
}


.tablebodytext {
    display: none;
}

.speakers .item .item-body {
    padding: 2.8rem 4.5rem 2.8rem;
}

@media (max-width: 800px) {
    .speakers .item .item-body {
        padding: 1.5rem 1.5rem 1.5rem;
    }
}

.programm-banner {
    padding: 3.0rem 4.7rem;
}

.programm-banner.science {
    background-image: linear-gradient(to right, rgba(35, 62, 129, 0.45) 0%, rgba(35, 62, 129, 0.45) 100%), url(../assets/images/programm-banner-bg-science.jpg);
    box-shadow: 0 0.3rem 1.8rem 0 rgba(35, 62, 129, 0.6);
}

.programm-banner.science .btn {
    margin-left: 1.5rem;
    border-color: #4886a8;
    color: #4886a8;
}

.programm-banner.business .btn {
    margin-left: 1.5rem;
    border-color: #284387;
    color: #284387;
}


@media (max-width: 800px) {
    .programm-banner {
        display: flex;
        flex-direction: column;
        padding: 3.0rem 2.3rem;
    }

    .programm-banner .btn {
        width: 90%;
        margin: 1rem;
    }

}

.news-list .item {
    flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
}

@media (max-width: 800px) {
    .news-list .item {
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0 0;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.2rem;
        margin: 0 0 2.1rem;
        line-height: 2.5rem;
    }
}

.gallery-grid .item.video a:after {
    content: "\f144";
}

.close-entry-nav .link.empty {
    box-shadow: none;
}

.close-entry-nav .link.empty:hover {
    box-shadow: none;
}

.cookie .notice {
    background: rgba(0,0,0,.7);
    padding:1.4rem 0 4.2rem;
    position: fixed;
    z-index:550;
    left:0;
    bottom:0;
    width:100%;
}
.cookie .inner {
    max-width:100.0rem;
    padding:0 2.0rem;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.cookie .text {
    display: inline-block;
    vertical-align: middle;
    padding:1.0rem 2.0rem 1.0rem 0;
    flex-grow:1;
    font-size:1.5rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    color: #ffffff;
}
.cookie .actions {
    display: inline-block;
    vertical-align: middle;
    padding:1.0rem 0;
    text-align: right;
}

.cookie .btn.btn-mini {
    background-color: #fff;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 250px;
    max-width: 250px;
    min-width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px;
    border-color: #fff;
}
.cookie .text a {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.cookie.show{
    display: block;
}

.cookie.hide{
    display: none;
}
